In [2]:
import pandas as pd

In [3]:
train = pd.read_csv('extracted_combined.csv')

In [4]:
train.head(5)

              author                                          statement
0       Franz_Werfel  the famers protests on the continent were abou...
1         lamahorses      Over 30% of the European budget is on CAP etc
2  ConnolysMoustache  What are they even protesting?\n\nThe IFA repr...
3            bintags                     These people are brainwashed.
4  gofuckyoureself21  Stop bitching at each other and get out and su...

In [5]:
train.shape

(129, 2)

In [6]:
train['word_count'] = train['statement'].apply(lambda x: len(str(x).split(" ")))

In [7]:
train[['statement','word_count']].head()

                                           statement  word_count
0  the famers protests on the continent were abou...          47
1      Over 30% of the European budget is on CAP etc          10
2  What are they even protesting?\n\nThe IFA repr...         122
3                     These people are brainwashed.            4
4  Stop bitching at each other and get out and su...          18

In [8]:
train['char_count'] = train['statement'].str.len()

In [9]:
## this also includes spaces
train[['statement','char_count']].head()

                                           statement  char_count
0  the famers protests on the continent were abou...         308
1      Over 30% of the European budget is on CAP etc          45
2  What are they even protesting?\n\nThe IFA repr...         729
3                     These people are brainwashed.           30
4  Stop bitching at each other and get out and su...         103

In [10]:
train.head(5)

,author,statement,word_count,char_count
0,Franz_Werfel,the famers protests on the continent were abou...,47,308
1,lamahorses,Over 30% of the European budget is on CAP etc,10,45
2,ConnolysMoustache,What are they even protesting?\n\nThe IFA repr...,122,729
3,bintags,These people are brainwashed.,4,30
4,gofuckyoureself21,Stop bitching at each other and get out and su...,18,103

In [11]:
def avg_word(sentence):
  words = sentence.split()
  return (sum(len(word) for word in words)/len(words))

In [12]:
train['avg_word'] = train['statement'].apply(lambda x: avg_word(x))

In [13]:
train[['statement','avg_word']].head()

                                           statement  avg_word
0  the famers protests on the continent were abou...  5.416667
1      Over 30% of the European budget is on CAP etc  3.600000
2  What are they even protesting?\n\nThe IFA repr...  4.800000
3                     These people are brainwashed.   6.500000
4  Stop bitching at each other and get out and su...  4.777778

In [14]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/ricardo/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [15]:
from nltk.corpus import stopwords
stop = stopwords.words('english')

In [16]:
train['stopwords'] = train['statement'].apply(lambda x: len([x for x in x.split() if x in stop]))
train[['statement','stopwords']].head()

                                           statement  stopwords
0  the famers protests on the continent were abou...         20
1      Over 30% of the European budget is on CAP etc          4
2  What are they even protesting?\n\nThe IFA repr...         47
3                     These people are brainwashed.           1
4  Stop bitching at each other and get out and su...         10

In [17]:
train['hastags'] = train['statement'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
train[['statement','hastags']].head()

                                           statement  hastags
0  the famers protests on the continent were abou...        0
1      Over 30% of the European budget is on CAP etc        0
2  What are they even protesting?\n\nThe IFA repr...        0
3                     These people are brainwashed.         0
4  Stop bitching at each other and get out and su...        0

In [18]:
train['numerics'] = train['statement'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
train[['statement','numerics']].head()

                                           statement  numerics
0  the famers protests on the continent were abou...         0
1      Over 30% of the European budget is on CAP etc         0
2  What are they even protesting?\n\nThe IFA repr...         0
3                     These people are brainwashed.          0
4  Stop bitching at each other and get out and su...         0

In [19]:
train['upper'] = train['statement'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
train[['statement','upper']].head()

                                           statement  upper
0  the famers protests on the continent were abou...      2
1      Over 30% of the European budget is on CAP etc      1
2  What are they even protesting?\n\nThe IFA repr...      3
3                     These people are brainwashed.       0
4  Stop bitching at each other and get out and su...      0

In [20]:
train['statement'] = train['statement'].apply(lambda x: " ".join(x.lower() for x in x.split()))
train['statement'].head()

0    the famers protests on the continent were abou...
1        over 30% of the european budget is on cap etc
2    what are they even protesting? the ifa represe...
3                        these people are brainwashed.
4    stop bitching at each other and get out and su...
Name: statement, dtype: object

In [21]:
train['statement'] = train['statement'].str.replace('[^\w\s]','')
train['statement'].head()

0    the famers protests on the continent were abou...
1        over 30% of the european budget is on cap etc
2    what are they even protesting? the ifa represe...
3                        these people are brainwashed.
4    stop bitching at each other and get out and su...
Name: statement, dtype: object

In [23]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
train['statement'] = train['statement'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
train['statement'].head()

0    famers protests continent fuel prices subsidie...
1                          30% european budget cap etc
2    even protesting? ifa representative prime time...
3                                  people brainwashed.
4    stop bitching get support farmers, literally b...
Name: statement, dtype: object

In [24]:
freq = pd.Series(' '.join(train['statement']).split()).value_counts()[:10]
freq

expand...    86
click        86
get          46
farmers      40
would        36
money        32
lot          27
one          26
going        25
land         25
Name: count, dtype: int64

In [25]:
freq = list(freq.index)
train['statement'] = train['statement'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['statement'].head()

0    famers protests continent fuel prices subsidie...
1                          30% european budget cap etc
2    even protesting? ifa representative prime time...
3                                  people brainwashed.
4    stop bitching support farmers, literally backb...
Name: statement, dtype: object

In [26]:
freq = pd.Series(' '.join(train['statement']).split()).value_counts()[-10:]
freq

don't.       1
anything,    1
produces     1
...          1
accounts     1
hole         1
filling      1
read,        1
meet         1
advisor.     1
Name: count, dtype: int64

In [28]:
freq = list(freq.index)
train['statement'] = train['statement'].apply(lambda x: " ".join(x for x in x.split() if x not in freq))
train['statement'].head()

0    famers protests continent fuel prices subsidie...
1                          30% european budget cap etc
2    even protesting? ifa representative prime time...
3                                  people brainwashed.
4    stop bitching support farmers, literally backb...
Name: statement, dtype: object

In [31]:
#!pip install TextBlob
from textblob import TextBlob
train['statement'][:5].apply(lambda x: str(TextBlob(x).correct()))

0    farmers protests continent fuel prices subsidi...
1                          30% european budget cap etc
2    even protesting? if representative prime time ...
3                                  people brainwashed.
4    stop itching support farmers, literally backbo...
Name: statement, dtype: object

In [32]:
nltk.download('punkt')
TextBlob(train['statement'][1]).words

[nltk_data] Downloading package punkt to /Users/ricardo/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

WordList(['30', 'european', 'budget', 'cap', 'etc'])

In [33]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
train['statement'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0    famer protest contin fuel price subsidies, the...
1                          30% european budget cap etc
2    even protesting? ifa repres prime time couldn’...
3                                   peopl brainwashed.
4    stop bitch support farmers, liter backbon coun...
Name: statement, dtype: object

In [34]:
nltk.download('wordnet')
from textblob import Word
train['statement'] = train['statement'].apply(lambda x: " ".join([Word(word).lemmatize() for word in x.split()]))
train['statement'].head()

[nltk_data] Downloading package wordnet to /Users/ricardo/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

0    famers protest continent fuel price subsidies,...
1                          30% european budget cap etc
2    even protesting? ifa representative prime time...
3                                  people brainwashed.
4    stop bitching support farmers, literally backb...
Name: statement, dtype: object

In [35]:
TextBlob(train['statement'][0]).ngrams(2)

[WordList(['famers', 'protest']),
 WordList(['protest', 'continent']),
 WordList(['continent', 'fuel']),
 WordList(['fuel', 'price']),
 WordList(['price', 'subsidies']),
 WordList(['subsidies', 'they']),
 WordList(['they', "'ve"]),
 WordList(["'ve", 'tacked']),
 WordList(['tacked', 'nebulous']),
 WordList(['nebulous', 'complaint']),
 WordList(['complaint', 'eu']),
 WordList(['eu', 'regulation']),
 WordList(['regulation', 'without']),
 WordList(['without', 'saying']),
 WordList(['saying', 'specifically']),
 WordList(['specifically', 'ones']),
 WordList(['ones', 'also']),
 WordList(['also', 'say']),
 WordList(['say', 'requires']),
 WordList(['requires', 'massive']),
 WordList(['massive', 'amount']),
 WordList(['amount', 'cognitive']),
 WordList(['cognitive', 'dissonance']),
 WordList(['dissonance', 'irish']),
 WordList(['irish', 'famers']),
 WordList(['famers', 'protest']),
 WordList(['protest', 'eu']),
 WordList(['eu', 'ag-policy'])]

In [36]:
tf1 = (train['statement'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
tf1.columns = ['words','tf']
tf1

/var/folders/1m/71syl3xd3910y8gqrq29f4w40000gn/T/ipykernel_85096/148537276.py:1: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  tf1 = (train['statement'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
/var/folders/1m/71syl3xd3910y8gqrq29f4w40000gn/T/ipykernel_85096/148537276.py:1: FutureWarning: value_counts with argument that is not not a Series, Index, ExtensionArray, or np.ndarray is deprecated and will raise in a future version.
  tf1 = (train['statement'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()

      words  tf
0       30%   1
1  european   1
2    budget   1
3       cap   1
4       etc   1

In [37]:
import numpy as np

for i,word in enumerate(tf1['words']):
  tf1.loc[i, 'idf'] = np.log(train.shape[0]/(len(train[train['statement'].str.contains(word)])))

tf1

      words  tf       idf
0       30%   1  4.166665
1  european   1  4.166665
2    budget   1  3.473518
3       cap   1  2.374906
4       etc   1  2.557227

In [38]:
tf1['tfidf'] = tf1['tf'] * tf1['idf']
tf1

      words  tf       idf     tfidf
0       30%   1  4.166665  4.166665
1  european   1  4.166665  4.166665
2    budget   1  3.473518  3.473518
3       cap   1  2.374906  2.374906
4       etc   1  2.557227  2.557227

In [39]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',
 stop_words= 'english',ngram_range=(1,1))
train_vect = tfidf.fit_transform(train['statement'])

train_vect

<129x1000 sparse matrix of type '<class 'numpy.float64'>'
	with 3170 stored elements in Compressed Sparse Row format>

In [35]:
print(train_vect)

  (0, 721)	0.6609667853370123
  (0, 447)	0.581635378207173
  (0, 269)	0.47415524409106224
  (1, 592)	0.5380977952316363
  (1, 218)	0.3343760513811211
  (1, 126)	0.48468122842038097
  (1, 903)	0.4578604483673509
  (1, 849)	0.39254469257319075
  (2, 75)	1.0
  (3, 995)	0.4490802792315525
  (3, 996)	0.49607396352876615
  (3, 901)	0.5323509742771187
  (3, 551)	0.5184977971991528
  (4, 560)	1.0
  (5, 620)	0.35615330450388427
  (5, 472)	0.3998294923711774
  (5, 833)	0.44592005703200316
  (5, 73)	0.3768623096037397
  (5, 265)	0.39323783312663496
  (5, 409)	0.4666747364661482
  (6, 866)	1.0
  (7, 330)	0.25214445140310116
  (7, 371)	0.2972143197037405
  (7, 252)	0.38948146665378647
  (7, 854)	0.265670951765864
  :	:
  (31953, 341)	0.3017529627568916
  (31953, 330)	0.3272231897541668
  (31954, 397)	0.37773226995987863
  (31954, 928)	0.3003252563943781
  (31954, 210)	0.38238800689130437
  (31954, 216)	0.3834329710960391
  (31954, 109)	0.6883906169209224
  (31955, 466)	0.8002088204213111
  (31955, 940)	0.5997214717849726
  (31956, 921)	0.5776442742781255
  (31956, 976)	0.5699564572394813
  (31956, 866)	0.5843601023724303
  (31958, 388)	0.557743616901898
  (31958, 751)	0.5673006239123156
  (31958, 887)	0.5066743127245549
  (31958, 486)	0.33222462392030233
  (31959, 491)	0.4324031693715943
  (31959, 783)	0.3657472272485942
  (31959, 962)	0.28875334327378943
  (31959, 558)	0.3015888816828483
  (31959, 554)	0.3566984361462968
  (31959, 723)	0.6145635392061995
  (31960, 15)	1.0
  (31961, 295)	0.7171176000382493
  (31961, 847)	0.6969521846693514

In [40]:
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")
train_bow = bow.fit_transform(train['statement'])
train_bow

<129x1000 sparse matrix of type '<class 'numpy.int64'>'
	with 3736 stored elements in Compressed Sparse Row format>

In [37]:
print(train_bow)

  (0, 266)	1
  (0, 444)	1
  (0, 715)	1
  (1, 847)	1
  (1, 123)	1
  (1, 903)	1
  (1, 130)	1
  (1, 217)	1
  (2, 82)	1
  (3, 548)	1
  (3, 830)	1
  (3, 901)	1
  (3, 996)	1
  (3, 995)	1
  (4, 557)	1
  (5, 408)	1
  (5, 262)	1
  (5, 81)	1
  (5, 833)	1
  (5, 469)	1
  (5, 621)	1
  (5, 326)	1
  (6, 867)	1
  (7, 123)	1
  (7, 584)	1
  :	:
  (31954, 214)	1
  (31954, 208)	1
  (31954, 946)	1
  (31954, 928)	1
  (31954, 396)	1
  (31955, 939)	1
  (31955, 462)	1
  (31956, 867)	1
  (31956, 978)	1
  (31956, 285)	1
  (31956, 922)	1
  (31958, 732)	1
  (31958, 481)	1
  (31958, 887)	1
  (31958, 747)	1
  (31958, 387)	1
  (31959, 717)	2
  (31959, 551)	1
  (31959, 555)	1
  (31959, 963)	1
  (31959, 784)	1
  (31959, 486)	1
  (31960, 15)	1
  (31961, 845)	1
  (31961, 294)	1

In [41]:
train['statement'][:5].apply(lambda x: TextBlob(x).sentiment)

0    (-0.09999999999999999, 0.39999999999999997)
1                                     (0.0, 0.0)
2                     (0.05, 0.7119047619047618)
3                                     (0.0, 0.0)
4                                     (0.0, 0.0)
Name: statement, dtype: object

In [42]:
train['sentiment'] = train['statement'].apply(lambda x: TextBlob(x).sentiment[0] )
train[['statement','sentiment']].head()

                                           statement  sentiment
0  famers protest continent fuel price subsidies,...      -0.10
1                        30% european budget cap etc       0.00
2  even protesting? ifa representative prime time...       0.05
3                                people brainwashed.       0.00
4  stop bitching support farmers, literally backb...       0.00

In [43]:
train.head(5)

,author,statement,word_count,char_count,avg_word,stopwords,hastags,numerics,upper,sentiment
0,Franz_Werfel,"famers protest continent fuel price subsidies,...",47,308,5.416667,20,0,0,2,-0.10
1,lamahorses,30% european budget cap etc,10,45,3.600000,4,0,0,1,0.00
2,ConnolysMoustache,even protesting? ifa representative prime time...,122,729,4.800000,47,0,0,3,0.05
3,bintags,people brainwashed.,4,30,6.500000,1,0,0,0,0.00
4,gofuckyoureself21,"stop bitching support farmers, literally backb...",18,103,4.777778,10,0,0,0,0.00