In [6]:
import pandas as pd

In [7]:
train = pd.read_csv("train_E6oV3lV.csv")

In [8]:
train.head()

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation

In [9]:
train["tweet"][1]

"@user @user thanks for #lyft credit i can't use cause they don't offer wheelchair vans in pdx.    #disapointed #getthanked"

In [10]:
train.shape

(31962, 3)

In [12]:
train["word_count"]=train["tweet"].apply(lambda x: len(str(x).split()))

In [13]:
train [["tweet", "word_count"]].head()

                                               tweet  word_count
0   @user when a father is dysfunctional and is s...          18
1  @user @user thanks for #lyft credit i can't us...          19
2                                bihday your majesty           3
3  #model   i love u take with u all the time in ...          14
4             factsguide: society now    #motivation           4

In [14]:
train["char_count"]=train["tweet"].str.len()

In [17]:
train[["tweet","char_count"]].head()

                                               tweet  char_count
0   @user when a father is dysfunctional and is s...         102
1  @user @user thanks for #lyft credit i can't us...         122
2                                bihday your majesty          21
3  #model   i love u take with u all the time in ...          86
4             factsguide: society now    #motivation          39