In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Obtaining dependency information for mysql-connector-python from https://files.pythonhosted.org/packages/d9/91/007a0d60fee8db4f7385075dc50bf62d2d359b417b374ec06b06ce6c2d64/mysql_connector_python-8.3.0-cp311-cp311-win_amd64.whl.metadata
  Downloading mysql_connector_python-8.3.0-cp311-cp311-win_amd64.whl.metadata (2.0 kB)
Downloading mysql_connector_python-8.3.0-cp311-cp311-win_amd64.whl (15.4 MB)
   ---------------------------------------- 0.0/15.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/15.4 MB 1.9 MB/s eta 0:00:09
    --------------------------------------- 0.3/15.4 MB 4.4 MB/s eta 0:00:04
   - -------------------------------------- 0.5/15.4 MB 5.2 MB/s eta 0:00:03
   - -------------------------------------- 0.6/15.4 MB 4.3 MB/s eta 0:00:04
   - -------------------------------------- 0.6/15.4 MB 3.9 MB/s eta 0:00:04
   - -------------------------------------- 0.7/15.4 MB 3.5 MB/s eta 0:00:05
   - -------------------------------------- 0.7/15.4 MB 3.1 MB/s eta 0:00:05
   -- ------------------------------------- 0.8/15.4 MB 2.9 MB/s eta 0:00:05
   -- ------------------------------------- 0.8/15.4 MB 2.8 MB/s eta 0:00:06
   -- ------------------------------------- 0.9/15.4 MB 2.6 MB/s eta 0:00:06
   -- ------------------------------------- 1.0/15.4 MB 2.6 MB/s eta 0:00:06
   -- ------------------------------------- 1.0/15.4 MB 2.5 MB/s eta 0:00:06
   -- ------------------------------------- 1.1/15.4 MB 2.4 MB/s eta 0:00:06
   -- ------------------------------------- 1.1/15.4 MB 2.3 MB/s eta 0:00:07
   --- ------------------------------------ 1.2/15.4 MB 2.3 MB/s eta 0:00:07
   --- ------------------------------------ 1.3/15.4 MB 2.3 MB/s eta 0:00:07
   --- ------------------------------------ 1.3/15.4 MB 2.2 MB/s eta 0:00:07
   --- ------------------------------------ 1.4/15.4 MB 2.2 MB/s eta 0:00:07
   --- ------------------------------------ 1.4/15.4 MB 2.2 MB/s eta 0:00:07
   --- ------------------------------------ 1.5/15.4 MB 2.2 MB/s eta 0:00:07
   ---- ----------------------------------- 1.6/15.4 MB 2.1 MB/s eta 0:00:07
   ---- ----------------------------------- 1.6/15.4 MB 2.1 MB/s eta 0:00:07
   ---- ----------------------------------- 1.7/15.4 MB 2.1 MB/s eta 0:00:07
   ---- ----------------------------------- 1.7/15.4 MB 2.1 MB/s eta 0:00:07
   ---- ----------------------------------- 1.8/15.4 MB 2.1 MB/s eta 0:00:07
   ---- ----------------------------------- 1.9/15.4 MB 2.0 MB/s eta 0:00:07
   ---- ----------------------------------- 1.9/15.4 MB 2.0 MB/s eta 0:00:07
   ----- ---------------------------------- 2.0/15.4 MB 2.0 MB/s eta 0:00:07
   ----- ---------------------------------- 2.0/15.4 MB 2.0 MB/s eta 0:00:07
   ----- ---------------------------------- 2.1/15.4 MB 2.0 MB/s eta 0:00:07
   ----- ---------------------------------- 2.2/15.4 MB 2.0 MB/s eta 0:00:07
   ----- ---------------------------------- 2.2/15.4 MB 2.0 MB/s eta 0:00:07
   ----- ---------------------------------- 2.3/15.4 MB 2.0 MB/s eta 0:00:07
   ------ --------------------------------- 2.3/15.4 MB 2.0 MB/s eta 0:00:07
   ------ --------------------------------- 2.4/15.4 MB 2.0 MB/s eta 0:00:07
   ------ --------------------------------- 2.4/15.4 MB 1.9 MB/s eta 0:00:07
   ------ --------------------------------- 2.5/15.4 MB 2.0 MB/s eta 0:00:07
   ------ --------------------------------- 2.6/15.4 MB 1.9 MB/s eta 0:00:07
   ------ --------------------------------- 2.6/15.4 MB 1.9 MB/s eta 0:00:07
   ------ --------------------------------- 2.7/15.4 MB 1.9 MB/s eta 0:00:07
   ------- -------------------------------- 2.8/15.4 MB 1.9 MB/s eta 0:00:07
   ------- -------------------------------- 2.8/15.4 MB 1.9 MB/s eta 0:00:07
   ------- -------------------------------- 2.9/15.4 MB 1.9 MB/s eta 0:00:07
   ------- -------------------------------- 2.9/15.4 MB 1.9 MB/s eta 0:00:07
   ------- -------------------------------- 3.0/15.4 MB 1.9 MB/s eta 0:00:07
   ------- -------------------------------- 3.0/15.4 MB 1.9 MB/s eta 0:00:07
   -------- ------------------------------- 3.1/15.4 MB 1.9 MB/s eta 0:00:07
   -------- ------------------------------- 3.2/15.4 MB 1.9 MB/s eta 0:00:07
   -------- ------------------------------- 3.2/15.4 MB 1.9 MB/s eta 0:00:07
   -------- ------------------------------- 3.3/15.4 MB 1.9 MB/s eta 0:00:07
   -------- ------------------------------- 3.4/15.4 MB 1.9 MB/s eta 0:00:07
   -------- ------------------------------- 3.4/15.4 MB 1.9 MB/s eta 0:00:07
   -------- ------------------------------- 3.5/15.4 MB 1.9 MB/s eta 0:00:07
   --------- ------------------------------ 3.5/15.4 MB 1.9 MB/s eta 0:00:07
   --------- ------------------------------ 3.6/15.4 MB 1.9 MB/s eta 0:00:07
   --------- ------------------------------ 3.7/15.4 MB 1.9 MB/s eta 0:00:07
   --------- ------------------------------ 3.7/15.4 MB 1.8 MB/s eta 0:00:07
   --------- ------------------------------ 3.8/15.4 MB 1.9 MB/s eta 0:00:07
   --------- ------------------------------ 3.8/15.4 MB 1.8 MB/s eta 0:00:07
   ---------- ----------------------------- 3.9/15.4 MB 1.8 MB/s eta 0:00:07
   ---------- ----------------------------- 3.9/15.4 MB 1.8 MB/s eta 0:00:07
   ---------- ----------------------------- 4.0/15.4 MB 1.8 MB/s eta 0:00:07
   ---------- ----------------------------- 4.1/15.4 MB 1.8 MB/s eta 0:00:07
   ---------- ----------------------------- 4.1/15.4 MB 1.8 MB/s eta 0:00:07
   ---------- ----------------------------- 4.2/15.4 MB 1.8 MB/s eta 0:00:07
   ---------- ----------------------------- 4.2/15.4 MB 1.8 MB/s eta 0:00:07
   ----------- ---------------------------- 4.3/15.4 MB 1.8 MB/s eta 0:00:07
   ----------- ---------------------------- 4.4/15.4 MB 1.8 MB/s eta 0:00:07
   ----------- ---------------------------- 4.4/15.4 MB 1.8 MB/s eta 0:00:07
   ----------- ---------------------------- 4.5/15.4 MB 1.8 MB/s eta 0:00:07
   ----------- ---------------------------- 4.5/15.4 MB 1.8 MB/s eta 0:00:06
   ----------- ---------------------------- 4.6/15.4 MB 1.8 MB/s eta 0:00:06
   ------------ --------------------------- 4.7/15.4 MB 1.8 MB/s eta 0:00:06
   ------------ --------------------------- 4.7/15.4 MB 1.8 MB/s eta 0:00:06
   ------------ --------------------------- 4.8/15.4 MB 1.8 MB/s eta 0:00:06
   ------------ --------------------------- 4.8/15.4 MB 1.8 MB/s eta 0:00:06
   ------------ --------------------------- 4.9/15.4 MB 1.8 MB/s eta 0:00:06
   ------------ --------------------------- 4.9/15.4 MB 1.8 MB/s eta 0:00:06
   ------------ --------------------------- 5.0/15.4 MB 1.8 MB/s eta 0:00:06
   ------------- -------------------------- 5.1/15.4 MB 1.8 MB/s eta 0:00:06
   ------------- -------------------------- 5.1/15.4 MB 1.8 MB/s eta 0:00:06
   ------------- -------------------------- 5.2/15.4 MB 1.8 MB/s eta 0:00:06
   ------------- -------------------------- 5.2/15.4 MB 1.8 MB/s eta 0:00:06
   ------------- -------------------------- 5.3/15.4 MB 1.8 MB/s eta 0:00:06
   ------------- -------------------------- 5.4/15.4 MB 1.8 MB/s eta 0:00:06
   -------------- ------------------------- 5.4/15.4 MB 1.8 MB/s eta 0:00:06
   -------------- ------------------------- 5.5/15.4 MB 1.8 MB/s eta 0:00:06
   -------------- ------------------------- 5.6/15.4 MB 1.8 MB/s eta 0:00:06
   -------------- ------------------------- 5.6/15.4 MB 1.8 MB/s eta 0:00:06
   -------------- ------------------------- 5.7/15.4 MB 1.8 MB/s eta 0:00:06
   -------------- ------------------------- 5.7/15.4 MB 1.8 MB/s eta 0:00:06
   -------------- ------------------------- 5.8/15.4 MB 1.8 MB/s eta 0:00:06
   --------------- ------------------------ 5.8/15.4 MB 1.8 MB/s eta 0:00:06
   --------------- ------------------------ 5.9/15.4 MB 1.8 MB/s eta 0:00:06
   --------------- ------------------------ 6.0/15.4 MB 1.8 MB/s eta 0:00:06
   --------------- ------------------------ 6.0/15.4 MB 1.8 MB/s eta 0:00:06
   --------------- ------------------------ 6.1/15.4 MB 1.8 MB/s eta 0:00:06
   --------------- ------------------------ 6.1/15.4 MB 1.8 MB/s eta 0:00:06
   ---------------- ----------------------- 6.2/15.4 MB 1.8 MB/s eta 0:00:06
   ---------------- ----------------------- 6.3/15.4 MB 1.8 MB/s eta 0:00:06
   ---------------- ----------------------- 6.3/15.4 MB 1.8 MB/s eta 0:00:06
   ---------------- ----------------------- 6.4/15.4 MB 1.8 MB/s eta 0:00:06
   ---------------- ----------------------- 6.4/15.4 MB 1.8 MB/s eta 0:00:06
   ---------------- ----------------------- 6.5/15.4 MB 1.8 MB/s eta 0:00:06
   ----------------- ---------------------- 6.6/15.4 MB 1.8 MB/s eta 0:00:05
   ----------------- ---------------------- 6.6/15.4 MB 1.8 MB/s eta 0:00:05
   ----------------- ---------------------- 6.7/15.4 MB 1.8 MB/s eta 0:00:05
   ----------------- ---------------------- 6.7/15.4 MB 1.8 MB/s eta 0:00:05
   ----------------- ---------------------- 6.8/15.4 MB 1.8 MB/s eta 0:00:05
   ----------------- ---------------------- 6.8/15.4 MB 1.8 MB/s eta 0:00:05
   ----------------- ---------------------- 6.9/15.4 MB 1.8 MB/s eta 0:00:05
   ------------------ --------------------- 7.0/15.4 MB 1.8 MB/s eta 0:00:05
   ------------------ --------------------- 7.0/15.4 MB 1.8 MB/s eta 0:00:05
   ------------------ --------------------- 7.1/15.4 MB 1.8 MB/s eta 0:00:05
   ------------------ --------------------- 7.1/15.4 MB 1.8 MB/s eta 0:00:05
   ------------------ --------------------- 7.2/15.4 MB 1.8 MB/s eta 0:00:05
   ------------------ --------------------- 7.3/15.4 MB 1.8 MB/s eta 0:00:05
   ------------------- -------------------- 7.3/15.4 MB 1.8 MB/s eta 0:00:05
   ------------------- -------------------- 7.4/15.4 MB 1.8 MB/s eta 0:00:05
   ------------------- -------------------- 7.5/15.4 MB 1.8 MB/s eta 0:00:05
   ------------------- -------------------- 7.5/15.4 MB 1.8 MB/s eta 0:00:05
   ------------------- -------------------- 7.6/15.4 MB 1.8 MB/s eta 0:00:05
   ------------------- -------------------- 7.6/15.4 MB 1.8 MB/s eta 0:00:05
   ------------------- -------------------- 7.7/15.4 MB 1.8 MB/s eta 0:00:05
   -------------------- ------------------- 7.7/15.4 MB 1.8 MB/s eta 0:00:05
   -------------------- ------------------- 7.8/15.4 MB 1.8 MB/s eta 0:00:05
   -------------------- ------------------- 7.9/15.4 MB 1.8 MB/s eta 0:00:05
   -------------------- ------------------- 7.9/15.4 MB 1.8 MB/s eta 0:00:05
   -------------------- ------------------- 8.0/15.4 MB 1.8 MB/s eta 0:00:05
   -------------------- ------------------- 8.0/15.4 MB 1.8 MB/s eta 0:00:05
   --------------------- ------------------ 8.1/15.4 MB 1.8 MB/s eta 0:00:05
   --------------------- ------------------ 8.2/15.4 MB 1.8 MB/s eta 0:00:05
   --------------------- ------------------ 8.2/15.4 MB 1.8 MB/s eta 0:00:05
   --------------------- ------------------ 8.3/15.4 MB 1.8 MB/s eta 0:00:05
   --------------------- ------------------ 8.3/15.4 MB 1.7 MB/s eta 0:00:05
   --------------------- ------------------ 8.4/15.4 MB 1.8 MB/s eta 0:00:05
   --------------------- ------------------ 8.5/15.4 MB 1.8 MB/s eta 0:00:04
   ---------------------- ----------------- 8.5/15.4 MB 1.7 MB/s eta 0:00:04
   ---------------------- ----------------- 8.6/15.4 MB 1.7 MB/s eta 0:00:04
   ---------------------- ----------------- 8.6/15.4 MB 1.8 MB/s eta 0:00:04
   ---------------------- ----------------- 8.7/15.4 MB 1.7 MB/s eta 0:00:04
   ---------------------- ----------------- 8.8/15.4 MB 1.7 MB/s eta 0:00:04
   ---------------------- ----------------- 8.8/15.4 MB 1.7 MB/s eta 0:00:04
   ----------------------- ---------------- 8.9/15.4 MB 1.7 MB/s eta 0:00:04
   ----------------------- ---------------- 8.9/15.4 MB 1.7 MB/s eta 0:00:04
   ----------------------- ---------------- 9.0/15.4 MB 1.7 MB/s eta 0:00:04
   ----------------------- ---------------- 9.1/15.4 MB 1.7 MB/s eta 0:00:04
   ----------------------- ---------------- 9.1/15.4 MB 1.7 MB/s eta 0:00:04
   ----------------------- ---------------- 9.2/15.4 MB 1.7 MB/s eta 0:00:04
   ----------------------- ---------------- 9.2/15.4 MB 1.7 MB/s eta 0:00:04
   ------------------------ --------------- 9.3/15.4 MB 1.7 MB/s eta 0:00:04
   ------------------------ --------------- 9.4/15.4 MB 1.7 MB/s eta 0:00:04
   ------------------------ --------------- 9.4/15.4 MB 1.7 MB/s eta 0:00:04
   ------------------------ --------------- 9.5/15.4 MB 1.7 MB/s eta 0:00:04
   ------------------------ --------------- 9.5/15.4 MB 1.7 MB/s eta 0:00:04
   ------------------------ --------------- 9.6/15.4 MB 1.7 MB/s eta 0:00:04
   ------------------------- -------------- 9.7/15.4 MB 1.7 MB/s eta 0:00:04
   ------------------------- -------------- 9.7/15.4 MB 1.7 MB/s eta 0:00:04
   ------------------------- -------------- 9.7/15.4 MB 1.7 MB/s eta 0:00:04
   ------------------------- -------------- 9.8/15.4 MB 1.7 MB/s eta 0:00:04
   ------------------------- -------------- 9.9/15.4 MB 1.7 MB/s eta 0:00:04
   ------------------------- -------------- 9.9/15.4 MB 1.7 MB/s eta 0:00:04
   -------------------------- ------------- 10.0/15.4 MB 1.7 MB/s eta 0:00:04
   -------------------------- ------------- 10.1/15.4 MB 1.7 MB/s eta 0:00:04
   -------------------------- ------------- 10.1/15.4 MB 1.7 MB/s eta 0:00:04
   -------------------------- ------------- 10.2/15.4 MB 1.7 MB/s eta 0:00:03
   -------------------------- ------------- 10.3/15.4 MB 1.7 MB/s eta 0:00:03
   -------------------------- ------------- 10.3/15.4 MB 1.7 MB/s eta 0:00:03
   -------------------------- ------------- 10.4/15.4 MB 1.7 MB/s eta 0:00:03
   --------------------------- ------------ 10.4/15.4 MB 1.7 MB/s eta 0:00:03
   --------------------------- ------------ 10.5/15.4 MB 1.7 MB/s eta 0:00:03
   --------------------------- ------------ 10.5/15.4 MB 1.7 MB/s eta 0:00:03
   --------------------------- ------------ 10.6/15.4 MB 1.7 MB/s eta 0:00:03
   --------------------------- ------------ 10.7/15.4 MB 1.7 MB/s eta 0:00:03
   --------------------------- ------------ 10.7/15.4 MB 1.7 MB/s eta 0:00:03
   --------------------------- ------------ 10.8/15.4 MB 1.7 MB/s eta 0:00:03
   ---------------------------- ----------- 10.9/15.4 MB 1.7 MB/s eta 0:00:03
   ---------------------------- ----------- 10.9/15.4 MB 1.7 MB/s eta 0:00:03
   ---------------------------- ----------- 11.0/15.4 MB 1.7 MB/s eta 0:00:03
   ---------------------------- ----------- 11.0/15.4 MB 1.7 MB/s eta 0:00:03
   ---------------------------- ----------- 11.1/15.4 MB 1.7 MB/s eta 0:00:03
   ---------------------------- ----------- 11.1/15.4 MB 1.7 MB/s eta 0:00:03
   ----------------------------- ---------- 11.2/15.4 MB 1.7 MB/s eta 0:00:03
   ----------------------------- ---------- 11.3/15.4 MB 1.7 MB/s eta 0:00:03
   ----------------------------- ---------- 11.3/15.4 MB 1.7 MB/s eta 0:00:03
   ----------------------------- ---------- 11.4/15.4 MB 1.7 MB/s eta 0:00:03
   ----------------------------- ---------- 11.4/15.4 MB 1.7 MB/s eta 0:00:03
   ----------------------------- ---------- 11.5/15.4 MB 1.7 MB/s eta 0:00:03
   ------------------------------ --------- 11.6/15.4 MB 1.7 MB/s eta 0:00:03
   ------------------------------ --------- 11.6/15.4 MB 1.7 MB/s eta 0:00:03
   ------------------------------ --------- 11.7/15.4 MB 1.7 MB/s eta 0:00:03
   ------------------------------ --------- 11.7/15.4 MB 1.7 MB/s eta 0:00:03
   ------------------------------ --------- 11.8/15.4 MB 1.7 MB/s eta 0:00:03
   ------------------------------ --------- 11.9/15.4 MB 1.7 MB/s eta 0:00:03
   ------------------------------ --------- 11.9/15.4 MB 1.7 MB/s eta 0:00:03
   ------------------------------- -------- 12.0/15.4 MB 1.7 MB/s eta 0:00:03
   ------------------------------- -------- 12.0/15.4 MB 1.7 MB/s eta 0:00:03
   ------------------------------- -------- 12.1/15.4 MB 1.7 MB/s eta 0:00:02
   ------------------------------- -------- 12.2/15.4 MB 1.7 MB/s eta 0:00:02
   ------------------------------- -------- 12.2/15.4 MB 1.7 MB/s eta 0:00:02
   ------------------------------- -------- 12.3/15.4 MB 1.7 MB/s eta 0:00:02
   -------------------------------- ------- 12.3/15.4 MB 1.7 MB/s eta 0:00:02
   -------------------------------- ------- 12.4/15.4 MB 1.7 MB/s eta 0:00:02
   -------------------------------- ------- 12.5/15.4 MB 1.7 MB/s eta 0:00:02
   -------------------------------- ------- 12.5/15.4 MB 1.7 MB/s eta 0:00:02
   -------------------------------- ------- 12.6/15.4 MB 1.7 MB/s eta 0:00:02
   -------------------------------- ------- 12.6/15.4 MB 1.7 MB/s eta 0:00:02
   -------------------------------- ------- 12.7/15.4 MB 1.7 MB/s eta 0:00:02
   --------------------------------- ------ 12.8/15.4 MB 1.7 MB/s eta 0:00:02
   --------------------------------- ------ 12.8/15.4 MB 1.7 MB/s eta 0:00:02
   --------------------------------- ------ 12.9/15.4 MB 1.7 MB/s eta 0:00:02
   --------------------------------- ------ 13.0/15.4 MB 1.7 MB/s eta 0:00:02
   --------------------------------- ------ 13.0/15.4 MB 1.7 MB/s eta 0:00:02
   --------------------------------- ------ 13.1/15.4 MB 1.7 MB/s eta 0:00:02
   ---------------------------------- ----- 13.1/15.4 MB 1.7 MB/s eta 0:00:02
   ---------------------------------- ----- 13.2/15.4 MB 1.7 MB/s eta 0:00:02
   ---------------------------------- ----- 13.3/15.4 MB 1.7 MB/s eta 0:00:02
   ---------------------------------- ----- 13.3/15.4 MB 1.7 MB/s eta 0:00:02
   ---------------------------------- ----- 13.4/15.4 MB 1.7 MB/s eta 0:00:02
   ---------------------------------- ----- 13.4/15.4 MB 1.7 MB/s eta 0:00:02
   ----------------------------------- ---- 13.5/15.4 MB 1.7 MB/s eta 0:00:02
   ----------------------------------- ---- 13.6/15.4 MB 1.7 MB/s eta 0:00:02
   ----------------------------------- ---- 13.6/15.4 MB 1.7 MB/s eta 0:00:02
   ----------------------------------- ---- 13.7/15.4 MB 1.7 MB/s eta 0:00:02
   ----------------------------------- ---- 13.7/15.4 MB 1.7 MB/s eta 0:00:01
   ----------------------------------- ---- 13.8/15.4 MB 1.7 MB/s eta 0:00:01
   ----------------------------------- ---- 13.9/15.4 MB 1.7 MB/s eta 0:00:01
   ------------------------------------ --- 13.9/15.4 MB 1.7 MB/s eta 0:00:01
   ------------------------------------ --- 14.0/15.4 MB 1.7 MB/s eta 0:00:01
   ------------------------------------ --- 14.0/15.4 MB 1.7 MB/s eta 0:00:01
   ------------------------------------ --- 14.1/15.4 MB 1.7 MB/s eta 0:00:01
   ------------------------------------ --- 14.2/15.4 MB 1.7 MB/s eta 0:00:01
   ------------------------------------ --- 14.2/15.4 MB 1.7 MB/s eta 0:00:01
   ------------------------------------- -- 14.3/15.4 MB 1.7 MB/s eta 0:00:01
   ------------------------------------- -- 14.3/15.4 MB 1.7 MB/s eta 0:00:01
   ------------------------------------- -- 14.4/15.4 MB 1.7 MB/s eta 0:00:01
   ------------------------------------- -- 14.5/15.4 MB 1.7 MB/s eta 0:00:01
   ------------------------------------- -- 14.5/15.4 MB 1.7 MB/s eta 0:00:01
   ------------------------------------- -- 14.6/15.4 MB 1.7 MB/s eta 0:00:01
   -------------------------------------- - 14.6/15.4 MB 1.7 MB/s eta 0:00:01
   -------------------------------------- - 14.7/15.4 MB 1.7 MB/s eta 0:00:01
   -------------------------------------- - 14.8/15.4 MB 1.7 MB/s eta 0:00:01
   -------------------------------------- - 14.8/15.4 MB 1.7 MB/s eta 0:00:01
   -------------------------------------- - 14.9/15.4 MB 1.7 MB/s eta 0:00:01
   -------------------------------------- - 15.0/15.4 MB 1.7 MB/s eta 0:00:01
   -------------------------------------- - 15.0/15.4 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------  15.1/15.4 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------  15.2/15.4 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------  15.2/15.4 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------  15.3/15.4 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------  15.4/15.4 MB 1.7 MB/s eta 0:00:01
   ---------------------------------------- 15.4/15.4 MB 1.7 MB/s eta 0:00:00

In [2]:
import mysql.connector as sql
import pandas as pd

In [3]:
host = "127.0.0.1" # localhost
user = "pda2024"
password = "pda2024"

In [4]:
db = sql.connect(
    host=host,
    user=user,
    password=password
)
print(db)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000019DB970F010>

In [5]:
conn = db.cursor()
print(conn)

CMySQLCursor: (Nothing executed yet)

In [6]:
conn.execute("CREATE DATABASE test;")

In [7]:
#conn.execute("CREATE DATABASE test;")

DatabaseError: 1007 (HY000): Can't create database 'test'; database exists

In [10]:
conn.execute("CREATE DATABASE IF NOT EXISTS test;")

In [11]:
conn.execute("CREATE DATABASE IF NOT EXISTS test2;")

In [12]:
conn.execute("SHOW DATABASES;")

In [13]:
print(conn)

CMySQLCursor: SHOW DATABASES;

In [14]:
for result in conn:
    print(result)

('information_schema',)
('movie',)
('movie1',)
('mysql',)
('performance_schema',)
('sys',)
('test',)
('test2',)

In [15]:
conn.execute("USE test;")

In [16]:
conn.execute("CREATE TABLE firstTable (name TEXT, id INT);")

In [17]:
conn.close()

True

In [18]:
db = sql.connect(
    host=host,
    user=user,
    password=password,
    database="test"
)
conn = db.cursor()

In [19]:
conn.execute("SHOW TABLES;")

In [20]:
for result in conn:
    print(result)

('firsttable',)

In [21]:
conn.execute("CREATE TABLE students (name TEXT, age INT, id INT PRIMARY KEY);")

In [22]:
conn.execute("SHOW TABLES;")
for result in conn:
    print(result)

('firsttable',)
('students',)

In [23]:
conn.execute("INSERT INTO students (name, id) VALUE ('Joe', 5);")

In [24]:
db.commit()

In [25]:
conn.execute("INSERT INTO students VALUE ('Jill', 25, 6);")

In [26]:
db.commit()

In [27]:
#conn.execute("INSERT INTO students VALUE ('Sam', 192, 6);")

IntegrityError: 1062 (23000): Duplicate entry '6' for key 'students.PRIMARY'

In [28]:
conn.execute("INSERT INTO students VALUE ('Jill', 25, 7);")

In [29]:
conn.execute("SELECT * FROM students;")
for result in conn:
    print(result)

('Joe', None, 5)
('Jill', 25, 6)
('Jill', 25, 7)

In [30]:
db.commit()

In [31]:
conn.execute("SELECT (id) FROM students WHERE name='Jill';")
for result in conn:
    print(result)

(6,)
(7,)

In [32]:
conn.execute("SELECT (id) FROM students WHERE 1=1;")
for result in conn:
    print(result)

(5,)
(6,)
(7,)

In [33]:
conn.execute("INSERT INTO students VALUE ('Jill', 25, 8);")

In [36]:
#db.close()

In [35]:
conn.close()

True

In [37]:
db = sql.connect(
    host=host,
    user=user,
    password=password,
    database="test"
)
conn = db.cursor()

In [38]:
conn.execute("SELECT * FROM students;")
for result in conn:
    print(result)

('Joe', None, 5)
('Jill', 25, 6)
('Jill', 25, 7)

## Exercise
Read in the pepsico.csv data

Save it to an appropiate database, in an appropiate table, with appropiate columns and data types

In [39]:
df = pd.read_csv("Pepsico.csv")

In [40]:
df.head()

   Year  Company  Revenue (in millions)  Profit (in millions)
0  1955  PepsiCo                   74.2                   6.2
1  1956  PepsiCo                   89.0                   9.5
2  1957  PepsiCo                   97.0                   8.9
3  1958  PepsiCo                  119.1                   9.6
4  1959  PepsiCo                  136.8                  11.5

In [41]:
conn.execute("CREATE DATABASE companies;")

In [42]:
conn.execute("USE companies;")

In [43]:
conn.execute("CREATE TABLE pepsico (year INT, Company TEXT, revenue_in_millions DECIMAL, profit_in_millions DECIMAL);")

In [50]:
for row in range(df.shape[0]):
    #conn.execute(f"INSERT INTO pepsico VALUE ({df.iloc[row,0]}, {df.iloc[row,1]}, {df.iloc[row,2]}, {df.iloc[row,3]});")
    print(f"INSERT INTO pepsico VALUE ({df.iloc[row,0]}, '{df.iloc[row,1]}', {df.iloc[row,2]}, {df.iloc[row,3]});")

INSERT INTO pepsico VALUE (1955, 'PepsiCo', 74.2, 6.2);
INSERT INTO pepsico VALUE (1956, 'PepsiCo', 89.0, 9.5);
INSERT INTO pepsico VALUE (1957, 'PepsiCo', 97.0, 8.9);
INSERT INTO pepsico VALUE (1958, 'PepsiCo', 119.1, 9.6);
INSERT INTO pepsico VALUE (1959, 'PepsiCo', 136.8, 11.5);
INSERT INTO pepsico VALUE (1960, 'PepsiCo', 157.8, 13.9);
INSERT INTO pepsico VALUE (1961, 'PepsiCo', 157.7, 14.2);
INSERT INTO pepsico VALUE (1962, 'PepsiCo', 173.9, 14.4);
INSERT INTO pepsico VALUE (1963, 'PepsiCo', 191.6, 15.4);
INSERT INTO pepsico VALUE (1964, 'PepsiCo', 218.5, 16.1);
INSERT INTO pepsico VALUE (1965, 'PepsiCo', 252.5, 18.6);
INSERT INTO pepsico VALUE (1966, 'PepsiCo', 509.9, 33.2);
INSERT INTO pepsico VALUE (1967, 'PepsiCo', 604.7, 38.0);
INSERT INTO pepsico VALUE (1968, 'PepsiCo', 665.3, 39.2);
INSERT INTO pepsico VALUE (1969, 'PepsiCo', 848.3, 46.5);
INSERT INTO pepsico VALUE (1970, 'PepsiCo', 949.4, 49.4);
INSERT INTO pepsico VALUE (1971, 'PepsiCo', 1122.6, 56.1);
INSERT INTO pepsico VALUE (1972, 'PepsiCo', 1225.4, 62.7);
INSERT INTO pepsico VALUE (1973, 'PepsiCo', 1400.1, 71.7);
INSERT INTO pepsico VALUE (1974, 'PepsiCo', 1697.9, 79.6);
INSERT INTO pepsico VALUE (1975, 'PepsiCo', 2080.8, 87.4);
INSERT INTO pepsico VALUE (1976, 'PepsiCo', 2321.2, 104.6);
INSERT INTO pepsico VALUE (1977, 'PepsiCo', 2727.5, 136.0);
INSERT INTO pepsico VALUE (1978, 'PepsiCo', 3545.7, 187.3);
INSERT INTO pepsico VALUE (1979, 'PepsiCo', 4300.0, 225.8);
INSERT INTO pepsico VALUE (1980, 'PepsiCo', 5090.6, 264.9);
INSERT INTO pepsico VALUE (1981, 'PepsiCo', 5975.2, 274.0);
INSERT INTO pepsico VALUE (1982, 'PepsiCo', 7027.4, 333.5);
INSERT INTO pepsico VALUE (1983, 'PepsiCo', 7499.0, 224.3);
INSERT INTO pepsico VALUE (1984, 'PepsiCo', 7895.9, 284.1);
INSERT INTO pepsico VALUE (1985, 'PepsiCo', 8428.0, 212.5);
INSERT INTO pepsico VALUE (1986, 'PepsiCo', 8478.9, 543.7);
INSERT INTO pepsico VALUE (1987, 'PepsiCo', 9290.8, 457.5);
INSERT INTO pepsico VALUE (1988, 'PepsiCo', 11500.0, 595.0);
INSERT INTO pepsico VALUE (1989, 'PepsiCo', 13007.0, 762.0);
INSERT INTO pepsico VALUE (1990, 'PepsiCo', 15419.6, 901.4);
INSERT INTO pepsico VALUE (1991, 'PepsiCo', 17802.7, 1076.9);
INSERT INTO pepsico VALUE (1992, 'PepsiCo', 19771.2, 1080.2);
INSERT INTO pepsico VALUE (1993, 'PepsiCo', 22083.7, 374.3);
INSERT INTO pepsico VALUE (1994, 'PepsiCo', 25020.7, 1587.9);
INSERT INTO pepsico VALUE (1995, 'PepsiCo', 28472.4, 1752.0);
INSERT INTO pepsico VALUE (1996, 'PepsiCo', 30421.0, 1606.0);
INSERT INTO pepsico VALUE (1997, 'PepsiCo', 31645.0, 1149.0);
INSERT INTO pepsico VALUE (1998, 'PepsiCo', 29292.0, 2142.0);
INSERT INTO pepsico VALUE (1999, 'PepsiCo', 22348.0, 1993.0);
INSERT INTO pepsico VALUE (2000, 'PepsiCo', 20367.0, 2050.0);
INSERT INTO pepsico VALUE (2001, 'PepsiCo', 20438.0, 2183.0);
INSERT INTO pepsico VALUE (2002, 'PepsiCo', 26935.0, 2662.0);
INSERT INTO pepsico VALUE (2003, 'PepsiCo', 25112.0, 3313.0);
INSERT INTO pepsico VALUE (2004, 'PepsiCo', 26971.0, 3568.0);
INSERT INTO pepsico VALUE (2005, 'PepsiCo', 29261.0, 4212.0);

In [51]:
for row in range(df.shape[0]):
    conn.execute(f"INSERT INTO pepsico VALUE ({df.iloc[row,0]}, '{df.iloc[row,1]}', {df.iloc[row,2]}, {df.iloc[row,3]});")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [52]:
db.commit()