In [ ]:
#!pip install mysql-connector-python

In [ ]:
import mysql.connector

In [ ]:
host="localhost"
user="pda2023"
password="pda2023"

In [ ]:
# Connect to MySQL server
db = mysql.connector.connect(
    host=host,
    user=user,
    password=password
)
print(db)

In [ ]:
conn = db.cursor()

# The .execute method lets us run MySQL commands
# CREATE SCHEMA testDB would do the exact same thing
# conn.execute("CREATE DATABASE students")

# IF NOT EXISTS means we can rerun this and not get an error if the database already exists
conn.execute("CREATE DATABASE IF NOT EXISTS students;")

In [ ]:
conn.execute("SHOW DATABASES;")

# Any results from our querys will be stored in the conn object
for result in conn:
    print(result)

In [ ]:
# We can tell the MySQL server which database to use
conn.execute("USE students;")

In [ ]:
conn.close()

In [ ]:
# Or we can connect directly to the database
db = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database = "students"
)
print(db)
conn = db.cursor()

In [ ]:
conn.execute("CREATE TABLE IF NOT EXISTS test (id INT);")

In [ ]:
conn.execute("CREATE TABLE IF NOT EXISTS students (name VARCHAR(255), age INT, studentNum INT PRIMARY KEY);")

In [ ]:
conn.execute("SHOW TABLES;")
for result in conn:
    print(result)

In [ ]:
# Will give an error - why?
#conn.execute("INSERT INTO students (name, age, studentNum) VALUES (Joe, 45, 123);")

In [ ]:
conn.execute("INSERT INTO students (name, age, studentNum) VALUES ('Joe', 45, 123);")

In [ ]:
conn.execute("SELECT * FROM students")
for result in conn:
    print(result)

In [ ]:
conn.close()

In [ ]:
db = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database = "students"
)
print(db)
conn = db.cursor()

In [ ]:
# No result??
conn.execute("SELECT * FROM students;")
for result in conn:
    print(result)

In [ ]:
conn.execute("INSERT INTO students (name, age, studentNum) VALUES ('Joe', 45, 124);")

In [ ]:
# Need to commit the changes to save them
db.commit()

In [ ]:
conn.execute("SELECT * FROM students;")
for result in conn:
    print(result)

In [ ]:
conn.close()

In [ ]:
db = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database = "students"
)
print(db)
conn = db.cursor()

In [ ]:
conn.execute("SELECT * FROM students;")
for result in conn:
    print(result)

In [ ]:
conn.execute("ALTER TABLE students ADD COLUMN programme VARCHAR(255);")

In [ ]:
conn.execute("UPDATE students SET programme = 'MSc Data Analytics' WHERE name = 'Joe';")

In [ ]:
conn.execute("SELECT * FROM students")
for result in conn:
    print(result)

In [ ]:
sql = "INSERT INTO students (name, age, studentNum, programme) VALUES (%s, %s, %s, %s)"
vals = [
    ('Alice', 63, 125, 'MSc Data Analytics'),
    ('Bob', 47, 126, 'BSc Computing and IT'),
]

conn.executemany(sql, vals)
db.commit()

In [ ]:
conn.execute("SELECT * FROM students")
for result in conn:
    print(result)

In [ ]:
conn.execute("SELECT * FROM students WHERE programme = 'MSc Data Analytics'")
for result in conn:
    print(result)

# Exercise 1

Create a new table called programmes

The columns are the programme name (primary key), as well as up to 6 modules

Insert the MSc Data Analytics with the modules for this semester

# Exercise 2

Read one of the company .csv files

Store it in a table in a new database

In [ ]:
def userInput():
    name = input("What is your name?\n")
    age = input("What is your age?\n")
    studentNum = input("What is your student number?\n")
    conn.execute(f"INSERT INTO students (name, age, studentNum) VALUES ('{name}', {age}, {studentNum})")

In [ ]:
# Jack, 30, 130
userInput()

In [ ]:
# Jill, 30, 129
userInput()

In [ ]:
conn.execute("SELECT * FROM students")
for result in conn:
    print(result)

In [ ]:
# SQL injection - will delete the table!!
# Randall, 38, 42);DROP TABLE students;--
userInput()