In [1]:
import pandas as pd

/var/folders/1m/71syl3xd3910y8gqrq29f4w40000gn/T/ipykernel_765/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# Load the dataset's

#PRODUCTION
file_path_production = 'apro_mt_pheadm_page_linear(Slaughterings).csv'
df_production = pd.read_csv(file_path_production)

#IMPORT PRICE
file_path_Import_Price = 'prc_fsc_idx_page_linear (Import price index).csv'
df_import_price = pd.read_csv(file_path_Import_Price)

#CONSUMER PRICE
file_path_Consumer_Price = 'prc_fsc_idx_page_linear (Harmonised index of consumer prices).csv'
df_consumer_price = pd.read_csv(file_path_Consumer_Price)

#COMMODITY PRICE
file_path_Commodity_Price = 'prc_fsc_idx_page_linear (Agricultural commodity price index).csv'
df_commodity_price = pd.read_csv(file_path_Commodity_Price)

In [3]:
# Display the first few rows of the BEEF PRODUCTION (SLAUGHTERINGS) dataset
df_production.head()

,DATAFLOW,LAST UPDATE,freq,meat,meatitem,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:APRO_MT_PHEADM(1.0),27/05/24 23:00:00,M,B1000,SL,THS_T,AT,2017-01,18.25,NaN
1,ESTAT:APRO_MT_PHEADM(1.0),27/05/24 23:00:00,M,B1000,SL,THS_T,AT,2017-02,17.23,NaN
2,ESTAT:APRO_MT_PHEADM(1.0),27/05/24 23:00:00,M,B1000,SL,THS_T,AT,2017-03,20.07,NaN
3,ESTAT:APRO_MT_PHEADM(1.0),27/05/24 23:00:00,M,B1000,SL,THS_T,AT,2017-04,17.40,NaN
4,ESTAT:APRO_MT_PHEADM(1.0),27/05/24 23:00:00,M,B1000,SL,THS_T,AT,2017-05,19.02,NaN

In [4]:
# Display the first few rows of the beef IMPORT PRICE dataset
df_import_price.head()

,DATAFLOW,LAST UPDATE,freq,unit,indx,coicop,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:PRC_FSC_IDX(1.0),28/05/24 11:00:00,M,I15,IPI,CP01121,AT,2017-01,99.7,NaN
1,ESTAT:PRC_FSC_IDX(1.0),28/05/24 11:00:00,M,I15,IPI,CP01121,AT,2017-02,99.3,NaN
2,ESTAT:PRC_FSC_IDX(1.0),28/05/24 11:00:00,M,I15,IPI,CP01121,AT,2017-03,100.0,NaN
3,ESTAT:PRC_FSC_IDX(1.0),28/05/24 11:00:00,M,I15,IPI,CP01121,AT,2017-04,94.2,NaN
4,ESTAT:PRC_FSC_IDX(1.0),28/05/24 11:00:00,M,I15,IPI,CP01121,AT,2017-05,99.9,NaN

In [5]:
# Display the first few rows of the beef CONSUMER PRICE dataset
df_consumer_price.head()

,DATAFLOW,LAST UPDATE,freq,unit,indx,coicop,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:PRC_FSC_IDX(1.0),28/05/24 11:00:00,M,I15,HICP,CP01121,AT,2017-01,101.52,NaN
1,ESTAT:PRC_FSC_IDX(1.0),28/05/24 11:00:00,M,I15,HICP,CP01121,AT,2017-02,99.75,NaN
2,ESTAT:PRC_FSC_IDX(1.0),28/05/24 11:00:00,M,I15,HICP,CP01121,AT,2017-03,101.88,NaN
3,ESTAT:PRC_FSC_IDX(1.0),28/05/24 11:00:00,M,I15,HICP,CP01121,AT,2017-04,100.32,NaN
4,ESTAT:PRC_FSC_IDX(1.0),28/05/24 11:00:00,M,I15,HICP,CP01121,AT,2017-05,103.19,NaN

In [6]:
# Display the first few rows of the beef COMMODITY PRICE dataset
df_commodity_price.head()

,DATAFLOW,LAST UPDATE,freq,unit,indx,coicop,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:PRC_FSC_IDX(1.0),25/05/24 11:00:00,M,I15,ACPI,CP01121,AT,2017-01,101.6,e
1,ESTAT:PRC_FSC_IDX(1.0),25/05/24 11:00:00,M,I15,ACPI,CP01121,AT,2017-02,101.7,e
2,ESTAT:PRC_FSC_IDX(1.0),25/05/24 11:00:00,M,I15,ACPI,CP01121,AT,2017-03,101.2,e
3,ESTAT:PRC_FSC_IDX(1.0),25/05/24 11:00:00,M,I15,ACPI,CP01121,AT,2017-04,100.2,e
4,ESTAT:PRC_FSC_IDX(1.0),25/05/24 11:00:00,M,I15,ACPI,CP01121,AT,2017-05,100.0,e

In [7]:
df_production.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1872 entries, 0 to 1871
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     1872 non-null   object
 1   LAST UPDATE  1872 non-null   object
 2   freq         1872 non-null   object
 3   meat         1872 non-null   object
 4   meatitem     1872 non-null   object
 5   unit         1872 non-null   object
 6   geo          1872 non-null   object
 7   TIME_PERIOD  1872 non-null   object
 8   OBS_VALUE    1872 non-null   float64
 9   OBS_FLAG     181 non-null    object
dtypes: float64(1), object(9)
memory usage: 146.4+ KB

In [8]:
df_import_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1872 entries, 0 to 1871
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     1872 non-null   object
 1   LAST UPDATE  1872 non-null   object
 2   freq         1872 non-null   object
 3   unit         1872 non-null   object
 4   indx         1872 non-null   object
 5   coicop       1872 non-null   object
 6   geo          1872 non-null   object
 7   TIME_PERIOD  1872 non-null   object
 8   OBS_VALUE    1872 non-null   float64
 9   OBS_FLAG     0 non-null      float64
dtypes: float64(2), object(8)
memory usage: 146.4+ KB

In [9]:
df_consumer_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1872 entries, 0 to 1871
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     1872 non-null   object
 1   LAST UPDATE  1872 non-null   object
 2   freq         1872 non-null   object
 3   unit         1872 non-null   object
 4   indx         1872 non-null   object
 5   coicop       1872 non-null   object
 6   geo          1872 non-null   object
 7   TIME_PERIOD  1872 non-null   object
 8   OBS_VALUE    1872 non-null   float64
 9   OBS_FLAG     6 non-null      object
dtypes: float64(1), object(9)
memory usage: 146.4+ KB

In [10]:
df_commodity_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1872 entries, 0 to 1871
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     1872 non-null   object
 1   LAST UPDATE  1872 non-null   object
 2   freq         1872 non-null   object
 3   unit         1872 non-null   object
 4   indx         1872 non-null   object
 5   coicop       1872 non-null   object
 6   geo          1872 non-null   object
 7   TIME_PERIOD  1872 non-null   object
 8   OBS_VALUE    1872 non-null   float64
 9   OBS_FLAG     1872 non-null   object
dtypes: float64(1), object(9)
memory usage: 146.4+ KB

In [11]:
# Ensure that all dataframes have the same length
if not (len(df_production) == len(df_commodity_price) == len(df_consumer_price) == len(df_import_price)):
    print("DataFrames do not have the same number of rows.")
else:
    # Compare index by index
    for index in range(len(df_production)):
        time_periods = [df_production.loc[index, 'TIME_PERIOD'], 
                        df_commodity_price.loc[index, 'TIME_PERIOD'], 
                        df_consumer_price.loc[index, 'TIME_PERIOD'], 
                        df_import_price.loc[index, 'TIME_PERIOD']]
        
        geos = [df_production.loc[index, 'geo'], 
                df_commodity_price.loc[index, 'geo'], 
                df_consumer_price.loc[index, 'geo'], 
                df_import_price.loc[index, 'geo']]
        
        if not (time_periods[0] == time_periods[1] == time_periods[2] == time_periods[3]):
            print(f"Mismatch in 'TIME_PERIOD' at index {index}: {time_periods}")
        
        if not (geos[0] == geos[1] == geos[2] == geos[3]):
            print(f"Mismatch in 'geo' at index {index}: {geos}")

    print("Comparison complete.")

Comparison complete.

In [12]:
#CREATING A NEW DATA FRAME, FIRST CLEANING PRODUCTION DATASET THEN MERGING OBS_VALUE FROM THE PRICE'S DATASET'S

# List of columns to remove
columns_to_remove = ['DATAFLOW', 'LAST UPDATE', 'freq', 'meat', 'meatitem', 'unit', 'OBS_FLAG']

# Remove the specified columns
df = df_production.drop(columns=columns_to_remove)

#Renaming OBS_VALUE to prod
df.rename(columns={'OBS_VALUE': 'prod'}, inplace=True)

In [13]:
df

     geo TIME_PERIOD   prod
0     AT     2017-01  18.25
1     AT     2017-02  17.23
2     AT     2017-03  20.07
3     AT     2017-04  17.40
4     AT     2017-05  19.02
...   ..         ...    ...
1867  SK     2022-08   0.61
1868  SK     2022-09   0.76
1869  SK     2022-10   0.64
1870  SK     2022-11   0.64
1871  SK     2022-12   0.56

[1872 rows x 3 columns]

In [14]:
#Merging the OBS_VALUE of datasets on new data frame DF

# Define a list of tuples containing the dataset and the new column name
datasets = [
    (df_commodity_price, 'commodity'),
    (df_consumer_price, 'consumer'),
    (df_import_price, 'import')
]

# Merge each dataset with the main DataFrame 'df'
for dataset, new_column in datasets:
    df = df.merge(
        dataset[['TIME_PERIOD', 'geo', 'OBS_VALUE']].rename(columns={'OBS_VALUE': new_column}),
        on=['TIME_PERIOD', 'geo'],
        how='left'
    )

# Display the first few rows of the merged DataFrame
df.head()

  geo TIME_PERIOD   prod  commodity  consumer  import
0  AT     2017-01  18.25      101.6    101.52    99.7
1  AT     2017-02  17.23      101.7     99.75    99.3
2  AT     2017-03  20.07      101.2    101.88   100.0
3  AT     2017-04  17.40      100.2    100.32    94.2
4  AT     2017-05  19.02      100.0    103.19    99.9

In [15]:
#!pip install pycountry
import pycountry

# Custom dictionary for country codes to country names
custom_country_mapping = {
    'EL': 'Greece',
    # Add other custom mappings as needed
}

# Function to convert country code to country name using both pycountry and custom mapping
def combined_get_country_name(code):
    if code in custom_country_mapping:
        return custom_country_mapping[code]
    try:
        return pycountry.countries.get(alpha_2=code).name
    except AttributeError:
        return code

# Apply the function to the 'geo' column
df['geo'] = df['geo'].apply(combined_get_country_name)

# Display the first few rows of the updated dataset
df.head()

       geo TIME_PERIOD   prod  commodity  consumer  import
0  Austria     2017-01  18.25      101.6    101.52    99.7
1  Austria     2017-02  17.23      101.7     99.75    99.3
2  Austria     2017-03  20.07      101.2    101.88   100.0
3  Austria     2017-04  17.40      100.2    100.32    94.2
4  Austria     2017-05  19.02      100.0    103.19    99.9

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1872 entries, 0 to 1871
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   geo          1872 non-null   object
 1   TIME_PERIOD  1872 non-null   object
 2   prod         1872 non-null   float64
 3   commodity    1872 non-null   float64
 4   consumer     1872 non-null   float64
 5   import       1872 non-null   float64
dtypes: float64(4), object(2)
memory usage: 87.9+ KB

In [17]:
# Pivot the DataFrame by 'TIME_PERIOD' and rename the columns as requested
pivot_df = df.pivot(index='TIME_PERIOD', columns='geo', values=['prod', 'commodity', 'consumer', 'import'])

# Flatten the MultiIndex columns and rename them
pivot_df.columns = [f'{geo}_{metric}' for metric, geo in pivot_df.columns]

# Sort the columns alphabetically
pivot_df = pivot_df.reindex(sorted(pivot_df.columns), axis=1)

In [18]:

pivot_df

,Austria_commodity,Austria_consumer,Austria_import,Austria_prod,Belgium_commodity,Belgium_consumer,Belgium_import,Belgium_prod,Bulgaria_commodity,Bulgaria_consumer,...,Slovenia_import,Slovenia_prod,Spain_commodity,Spain_consumer,Spain_import,Spain_prod,Sweden_commodity,Sweden_consumer,Sweden_import,Sweden_prod
TIME_PERIOD,,,,,,,,,,,,,,,,,,,,,
2017-01,101.6,101.52,99.7,18.25,93.6,100.40,97.9,23.27,84.2,98.01,...,106.2,2.69,105.3,100.65,107.7,50.71,113.6,103.73,96.8,10.34
2017-02,101.7,99.75,99.3,17.23,93.8,101.14,96.3,21.21,85.3,98.19,...,95.7,2.69,105.4,100.44,106.3,48.30,114.5,103.69,95.8,10.01
2017-03,101.2,101.88,100.0,20.07,93.8,100.58,99.0,25.41,86.8,98.08,...,107.7,3.17,105.3,100.96,110.7,54.16,114.5,105.22,94.3,11.60
2017-04,100.2,100.32,94.2,17.40,93.8,101.22,97.2,21.79,88.7,97.81,...,105.4,2.87,105.1,100.50,111.7,46.55,113.7,106.41,97.4,9.32
2017-05,100.0,103.19,99.9,19.02,93.9,101.14,95.4,25.07,88.8,98.89,...,106.3,2.93,105.1,100.61,112.1,59.12,112.8,106.26,101.4,11.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08,130.4,116.59,129.0,17.66,119.7,113.88,125.9,20.09,140.7,136.54,...,158.0,2.73,136.4,121.95,169.8,65.68,140.6,143.99,159.8,12.18
2022-09,130.8,116.28,128.7,17.14,120.2,114.40,132.4,20.76,139.8,140.79,...,155.4,3.24,137.9,121.82,163.1,64.41,141.3,142.64,152.1,12.54
2022-10,132.1,115.18,133.1,17.92,121.7,113.85,130.9,19.98,142.4,143.63,...,157.9,3.40,140.4,123.40,158.0,59.37,141.5,141.52,159.2,12.40
2022-11,132.9,116.18,129.3,20.44,122.9,115.14,128.9,20.13,143.5,147.68,...,166.3,4.00,142.6,124.44,156.1,58.45,142.0,141.85,148.9,13.31
2022-12,133.4,118.84,132.1,18.37,123.8,116.22,139.9,21.12,143.1,152.30,...,164.4,3.43,144.3,126.78,151.1,55.13,142.9,140.24,154.3,11.11

In [19]:
#pivot_df.to_csv('pivotdf.csv')

ESTATISTICS

In [24]:
import dash
from dash import dcc, html, Input, Output, State
import dash_table
import pandas as pd
import plotly.graph_objects as go
from scipy.stats import ttest_ind, f_oneway, chi2_contingency, ranksums, mannwhitneyu, pearsonr
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.linear_model import LinearRegression, Ridge, LogisticRegression
from sklearn.svm import SVC
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, silhouette_score, accuracy_score
import numpy as np
import statsmodels.api as sm
from statsmodels.miscmodels.ordinal_model import OrderedModel

# Assuming pivot_df is already loaded into memory

# Extract feature columns and target columns
features = [col for col in pivot_df.columns if any(metric in col for metric in ['commodity', 'import', 'consumer', 'prod'])]

# Preprocess the dataset
X = pivot_df[features]

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

def perform_ml_tasks(selected_countries):
    if not selected_countries:
        return [], {}

    results = []

    # Filter features for the selected countries
    features = [col for col in pivot_df.columns if any(metric in col for metric in ['commodity', 'import', 'consumer']) and col.split('_')[0] in selected_countries]
    targets = [col for col in pivot_df.columns if any(metric in col for metric in ['prod', 'commodity', 'import', 'consumer']) and col.split('_')[0] in selected_countries]

    if not features or not targets:
        return [], {}

    X = pivot_df[features]
    scaler = StandardScaler()
    X_scaled = scaler.fit_transform(X)
    
    predictions = {}
    
    for target in targets:
        y = pivot_df[target]

        # Train and predict with Linear Regression
        X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)
        lin_reg = LinearRegression()
        lin_reg.fit(X_train, y_train)
        y_pred_lin_reg = lin_reg.predict(X_test)
        predictions[target] = (y_test, y_pred_lin_reg)

        mse_lin_reg = mean_squared_error(y_test, y_pred_lin_reg)
        lin_reg_scores = cross_val_score(lin_reg, X_scaled, y, cv=5, scoring='neg_mean_squared_error')
        lin_reg_mean_mse = -lin_reg_scores.mean()
        results.append({
            'Model': f'Linear Regression for {target}',
            'Mean Squared Error': mse_lin_reg,
            'Cross-Validation MSE': lin_reg_mean_mse
        })

        # Supervised Learning: Ridge Regression with GridSearchCV
        ridge = Ridge()
        param_grid_ridge = {'alpha': [0.1, 1, 10, 100]}
        grid_search_ridge = GridSearchCV(ridge, param_grid_ridge, cv=5, scoring='neg_mean_squared_error')
        grid_search_ridge.fit(X_train, y_train)
        best_ridge = grid_search_ridge.best_estimator_
        y_pred_ridge = best_ridge.predict(X_test)
        mse_ridge = mean_squared_error(y_test, y_pred_ridge)
        ridge_scores = cross_val_score(best_ridge, X_scaled, y, cv=5, scoring='neg_mean_squared_error')
        ridge_mean_mse = -ridge_scores.mean()
        results.append({
            'Model': f'Ridge Regression for {target}',
            'Mean Squared Error': mse_ridge,
            'Cross-Validation MSE': ridge_mean_mse,
            'Best Parameters': str(grid_search_ridge.best_params_)  # Convert dictionary to string
        })

    # Unsupervised Learning: KMeans Clustering
    kmeans = KMeans(n_clusters=3, random_state=42)
    kmeans.fit(X_scaled)
    cluster_labels = kmeans.labels_
    silhouette_avg = silhouette_score(X_scaled, cluster_labels)
    results.append({
        'Model': 'KMeans Clustering',
        'Silhouette Score': silhouette_avg
    })

    return results, predictions

# Create a Dash app
app = dash.Dash(__name__)

app.layout = html.Div([
    html.H1("European Beef Analyses (slaughterings and prices)"),
    dcc.Dropdown(
        id='country-dropdown',
        options=[
            {'label': 'All', 'value': 'All'},
            {'label': 'None', 'value': 'None'}
        ] + [{'label': country, 'value': country} for country in pivot_df.columns.str.split('_').str[0].unique()],
        value=['All'],
        multi=True,
        placeholder="Select countries"
    ),
    dcc.Dropdown(
        id='metric-dropdown',
        options=[
            {'label': 'All', 'value': 'All'},
            {'label': 'None', 'value': 'None'}
        ] + [{'label': metric, 'value': metric} for metric in ['prod', 'commodity', 'consumer', 'import']],
        value=['All'],
        multi=True,
        placeholder="Select metrics"
    ),
    html.Button('Perform Tests and ML Tasks', id='perform-tasks-button', n_clicks=0),
    dcc.Graph(id='combined-graph'),
    html.H2("Summary Metrics"),
    html.Div(id='summary-table', style={'overflowX': 'scroll'}),
    html.H2("Inferential Statistics"),
    html.Div(id='test-results', style={'display': 'flex', 'justify-content': 'space-between', 'flex-wrap': 'wrap'}),
    html.H2("Machine Learning Tasks"),
    html.Div(id='ml-results-table', style={'overflowX': 'scroll'})
])

@app.callback(
    [Output('country-dropdown', 'value'),
     Output('metric-dropdown', 'value')],
    [Input('country-dropdown', 'value'),
     Input('metric-dropdown', 'value')]
)
def update_dropdowns(selected_countries, selected_metrics):
    if 'All' in selected_countries:
        all_countries = list(pivot_df.columns.str.split('_').str[0].unique())
        selected_countries = all_countries
    elif 'None' in selected_countries:
        selected_countries = []

    if 'All' in selected_metrics:
        all_metrics = ['prod', 'commodity', 'consumer', 'import']
        selected_metrics = all_metrics
    elif 'None' in selected_metrics:
        selected_metrics = []

    return selected_countries, selected_metrics

@app.callback(
    [Output('combined-graph', 'figure'),
     Output('summary-table', 'children'),
     Output('test-results', 'children'),
     Output('ml-results-table', 'children')],
    [Input('country-dropdown', 'value'),
     Input('metric-dropdown', 'value'),
     Input('perform-tasks-button', 'n_clicks')]
)
def update_combined_graph(selected_countries, selected_metrics, n_clicks):
    if n_clicks > 0 and len(selected_countries) > 4:
        selected_countries = selected_countries[:4]

    fig = go.Figure()
    summary_data = {}

    if 'All' in selected_countries:
        selected_countries = list(pivot_df.columns.str.split('_').str[0].unique())
    elif 'None' in selected_countries:
        selected_countries = []

    if 'All' in selected_metrics:
        selected_metrics = ['prod', 'commodity', 'consumer', 'import']
    elif 'None' in selected_metrics:
        selected_metrics = []

    for country in selected_countries:
        for metric in selected_metrics:
            col = f"{country}_{metric}"
            if col in pivot_df.columns:
                fig.add_trace(go.Scatter(
                    x=pivot_df.index,
                    y=pivot_df[col],
                    mode='lines',
                    name=f"{country} {metric}",
                    hovertemplate=f'<b>{country} {metric}</b><br>Time: %{{x}}<br>Value: %{{y}}<extra></extra>'
                ))
                summary_data[col] = pivot_df[col].describe()

    test_results = []
    ml_results = []
    predictions = {}

    if n_clicks > 0:
        ml_results, predictions = perform_ml_tasks(selected_countries)
        
        for target, (y_test, y_pred) in predictions.items():
            country, metric = target.split('_')
            fig.add_trace(go.Scatter(
                x=pivot_df.index[-len(y_test):],
                y=y_test,
                mode='lines',
                name=f"Actual {country} {metric}",
                hovertemplate=f'<b>Actual {country} {metric}</b><br>Time: %{{x}}<br>Value: %{{y}}<extra></extra>'
            ))
            fig.add_trace(go.Scatter(
                x=pivot_df.index[-len(y_pred):],
                y=y_pred,
                mode='lines',
                name=f"Predicted {country} {metric}",
                line=dict(dash='dash'),
                hovertemplate=f'<b>Predicted {country} {metric}</b><br>Time: %{{x}}<br>Value: %{{y}}<extra></extra>'
            ))

    fig.update_layout(
        title='Combined Actual vs Predicted and Statistical Analysis',
        xaxis_title='Time Period',
        yaxis_title='Values',
        legend_title='Metrics'
    )

    if summary_data:
        summary_df = pd.DataFrame(summary_data).transpose().reset_index()
        summary_table = dash_table.DataTable(
            columns=[{"name": i, "id": i} for i in summary_df.columns],
            data=summary_df.to_dict('records'),
            style_table={'overflowX': 'auto'},
            style_cell={'textAlign': 'left'}
        )
    else:
        summary_table = html.Div("No data available for the selected countries.")

    if ml_results:
        ml_results_df = pd.DataFrame(ml_results)
        ml_table = dash_table.DataTable(
            columns=[{"name": i, "id": i} for i in ml_results_df.columns],
            data=ml_results_df.to_dict('records'),
            style_table={'overflowX': 'auto'},
            style_cell={'textAlign': 'left'}
        )
    else:
        ml_table = html.Div("Perform ML tasks to see results.")

    return fig, summary_table, test_results, ml_table

if __name__ == '__main__':
    app.run_server(debug=True)