In [42]:
import pandas as pd

In [43]:
# Load the dataset's

#PRODUCTION
file_path_production = 'apro_mt_pheadm_page_linear(Slaughterings).csv'
df_production = pd.read_csv(file_path_production)

#IMPORT PRICE
file_path_Import_Price = 'prc_fsc_idx_page_linear (Import price index).csv'
df_import_price = pd.read_csv(file_path_Import_Price)

#CONSUMER PRICE
file_path_Consumer_Price = 'prc_fsc_idx_page_linear (Harmonised index of consumer prices).csv'
df_consumer_price = pd.read_csv(file_path_Consumer_Price)

#COMMODITY PRICE
file_path_Commodity_Price = 'prc_fsc_idx_page_linear (Agricultural commodity price index).csv'
df_commodity_price = pd.read_csv(file_path_Commodity_Price)

In [44]:
# Display the first few rows of the BEEF PRODUCTION (SLAUGHTERINGS) dataset
df_production.head()

,DATAFLOW,LAST UPDATE,freq,meat,meatitem,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:APRO_MT_PHEADM(1.0),27/05/24 23:00:00,M,B1000,SL,THS_T,AT,2017-01,18.25,NaN
1,ESTAT:APRO_MT_PHEADM(1.0),27/05/24 23:00:00,M,B1000,SL,THS_T,AT,2017-02,17.23,NaN
2,ESTAT:APRO_MT_PHEADM(1.0),27/05/24 23:00:00,M,B1000,SL,THS_T,AT,2017-03,20.07,NaN
3,ESTAT:APRO_MT_PHEADM(1.0),27/05/24 23:00:00,M,B1000,SL,THS_T,AT,2017-04,17.40,NaN
4,ESTAT:APRO_MT_PHEADM(1.0),27/05/24 23:00:00,M,B1000,SL,THS_T,AT,2017-05,19.02,NaN

In [45]:
# Display the first few rows of the beef IMPORT PRICE dataset
df_import_price.head()

,DATAFLOW,LAST UPDATE,freq,unit,indx,coicop,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:PRC_FSC_IDX(1.0),28/05/24 11:00:00,M,I15,IPI,CP01121,AT,2017-01,99.7,NaN
1,ESTAT:PRC_FSC_IDX(1.0),28/05/24 11:00:00,M,I15,IPI,CP01121,AT,2017-02,99.3,NaN
2,ESTAT:PRC_FSC_IDX(1.0),28/05/24 11:00:00,M,I15,IPI,CP01121,AT,2017-03,100.0,NaN
3,ESTAT:PRC_FSC_IDX(1.0),28/05/24 11:00:00,M,I15,IPI,CP01121,AT,2017-04,94.2,NaN
4,ESTAT:PRC_FSC_IDX(1.0),28/05/24 11:00:00,M,I15,IPI,CP01121,AT,2017-05,99.9,NaN

In [46]:
# Display the first few rows of the beef CONSUMER PRICE dataset
df_consumer_price.head()

,DATAFLOW,LAST UPDATE,freq,unit,indx,coicop,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:PRC_FSC_IDX(1.0),28/05/24 11:00:00,M,I15,HICP,CP01121,AT,2017-01,101.52,NaN
1,ESTAT:PRC_FSC_IDX(1.0),28/05/24 11:00:00,M,I15,HICP,CP01121,AT,2017-02,99.75,NaN
2,ESTAT:PRC_FSC_IDX(1.0),28/05/24 11:00:00,M,I15,HICP,CP01121,AT,2017-03,101.88,NaN
3,ESTAT:PRC_FSC_IDX(1.0),28/05/24 11:00:00,M,I15,HICP,CP01121,AT,2017-04,100.32,NaN
4,ESTAT:PRC_FSC_IDX(1.0),28/05/24 11:00:00,M,I15,HICP,CP01121,AT,2017-05,103.19,NaN

In [47]:
# Display the first few rows of the beef COMMODITY PRICE dataset
df_commodity_price.head()

,DATAFLOW,LAST UPDATE,freq,unit,indx,coicop,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:PRC_FSC_IDX(1.0),25/05/24 11:00:00,M,I15,ACPI,CP01121,AT,2017-01,101.6,e
1,ESTAT:PRC_FSC_IDX(1.0),25/05/24 11:00:00,M,I15,ACPI,CP01121,AT,2017-02,101.7,e
2,ESTAT:PRC_FSC_IDX(1.0),25/05/24 11:00:00,M,I15,ACPI,CP01121,AT,2017-03,101.2,e
3,ESTAT:PRC_FSC_IDX(1.0),25/05/24 11:00:00,M,I15,ACPI,CP01121,AT,2017-04,100.2,e
4,ESTAT:PRC_FSC_IDX(1.0),25/05/24 11:00:00,M,I15,ACPI,CP01121,AT,2017-05,100.0,e

In [48]:
df_production.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1872 entries, 0 to 1871
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     1872 non-null   object
 1   LAST UPDATE  1872 non-null   object
 2   freq         1872 non-null   object
 3   meat         1872 non-null   object
 4   meatitem     1872 non-null   object
 5   unit         1872 non-null   object
 6   geo          1872 non-null   object
 7   TIME_PERIOD  1872 non-null   object
 8   OBS_VALUE    1872 non-null   float64
 9   OBS_FLAG     181 non-null    object
dtypes: float64(1), object(9)
memory usage: 146.4+ KB

In [49]:
df_import_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1872 entries, 0 to 1871
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     1872 non-null   object
 1   LAST UPDATE  1872 non-null   object
 2   freq         1872 non-null   object
 3   unit         1872 non-null   object
 4   indx         1872 non-null   object
 5   coicop       1872 non-null   object
 6   geo          1872 non-null   object
 7   TIME_PERIOD  1872 non-null   object
 8   OBS_VALUE    1872 non-null   float64
 9   OBS_FLAG     0 non-null      float64
dtypes: float64(2), object(8)
memory usage: 146.4+ KB

In [50]:
df_consumer_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1872 entries, 0 to 1871
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     1872 non-null   object
 1   LAST UPDATE  1872 non-null   object
 2   freq         1872 non-null   object
 3   unit         1872 non-null   object
 4   indx         1872 non-null   object
 5   coicop       1872 non-null   object
 6   geo          1872 non-null   object
 7   TIME_PERIOD  1872 non-null   object
 8   OBS_VALUE    1872 non-null   float64
 9   OBS_FLAG     6 non-null      object
dtypes: float64(1), object(9)
memory usage: 146.4+ KB

In [51]:
df_commodity_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1872 entries, 0 to 1871
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     1872 non-null   object
 1   LAST UPDATE  1872 non-null   object
 2   freq         1872 non-null   object
 3   unit         1872 non-null   object
 4   indx         1872 non-null   object
 5   coicop       1872 non-null   object
 6   geo          1872 non-null   object
 7   TIME_PERIOD  1872 non-null   object
 8   OBS_VALUE    1872 non-null   float64
 9   OBS_FLAG     1872 non-null   object
dtypes: float64(1), object(9)
memory usage: 146.4+ KB

In [52]:
# Ensure that all dataframes have the same length
if not (len(df_production) == len(df_commodity_price) == len(df_consumer_price) == len(df_import_price)):
    print("DataFrames do not have the same number of rows.")
else:
    # Compare index by index
    for index in range(len(df_production)):
        time_periods = [df_production.loc[index, 'TIME_PERIOD'], 
                        df_commodity_price.loc[index, 'TIME_PERIOD'], 
                        df_consumer_price.loc[index, 'TIME_PERIOD'], 
                        df_import_price.loc[index, 'TIME_PERIOD']]
        
        geos = [df_production.loc[index, 'geo'], 
                df_commodity_price.loc[index, 'geo'], 
                df_consumer_price.loc[index, 'geo'], 
                df_import_price.loc[index, 'geo']]
        
        if not (time_periods[0] == time_periods[1] == time_periods[2] == time_periods[3]):
            print(f"Mismatch in 'TIME_PERIOD' at index {index}: {time_periods}")
        
        if not (geos[0] == geos[1] == geos[2] == geos[3]):
            print(f"Mismatch in 'geo' at index {index}: {geos}")

    print("Comparison complete.")

Comparison complete.

In [53]:
#CREATING A NEW DATA FRAME, FIRST CLEANING PRODUCTION DATASET THEN MERGING OBS_VALUE FROM THE PRICE'S DATASET'S

# List of columns to remove
columns_to_remove = ['DATAFLOW', 'LAST UPDATE', 'freq', 'meat', 'meatitem', 'unit', 'OBS_FLAG']

# Remove the specified columns
df = df_production.drop(columns=columns_to_remove)

#Renaming OBS_VALUE to prod
df.rename(columns={'OBS_VALUE': 'prod'}, inplace=True)

In [54]:
df

     geo TIME_PERIOD   prod
0     AT     2017-01  18.25
1     AT     2017-02  17.23
2     AT     2017-03  20.07
3     AT     2017-04  17.40
4     AT     2017-05  19.02
...   ..         ...    ...
1867  SK     2022-08   0.61
1868  SK     2022-09   0.76
1869  SK     2022-10   0.64
1870  SK     2022-11   0.64
1871  SK     2022-12   0.56

[1872 rows x 3 columns]

In [55]:
#Merging the OBS_VALUE of datasets on new data frame DF

# Define a list of tuples containing the dataset and the new column name
datasets = [
    (df_commodity_price, 'commodity'),
    (df_consumer_price, 'consumer'),
    (df_import_price, 'import')
]

# Merge each dataset with the main DataFrame 'df'
for dataset, new_column in datasets:
    df = df.merge(
        dataset[['TIME_PERIOD', 'geo', 'OBS_VALUE']].rename(columns={'OBS_VALUE': new_column}),
        on=['TIME_PERIOD', 'geo'],
        how='left'
    )

# Display the first few rows of the merged DataFrame
df.head()

  geo TIME_PERIOD   prod  commodity  consumer  import
0  AT     2017-01  18.25      101.6    101.52    99.7
1  AT     2017-02  17.23      101.7     99.75    99.3
2  AT     2017-03  20.07      101.2    101.88   100.0
3  AT     2017-04  17.40      100.2    100.32    94.2
4  AT     2017-05  19.02      100.0    103.19    99.9

In [56]:
#!pip install pycountry
import pycountry

# Custom dictionary for country codes to country names
custom_country_mapping = {
    'EL': 'Greece',
    # Add other custom mappings as needed
}

# Function to convert country code to country name using both pycountry and custom mapping
def combined_get_country_name(code):
    if code in custom_country_mapping:
        return custom_country_mapping[code]
    try:
        return pycountry.countries.get(alpha_2=code).name
    except AttributeError:
        return code

# Apply the function to the 'geo' column
df['geo'] = df['geo'].apply(combined_get_country_name)

# Display the first few rows of the updated dataset
df.head()

       geo TIME_PERIOD   prod  commodity  consumer  import
0  Austria     2017-01  18.25      101.6    101.52    99.7
1  Austria     2017-02  17.23      101.7     99.75    99.3
2  Austria     2017-03  20.07      101.2    101.88   100.0
3  Austria     2017-04  17.40      100.2    100.32    94.2
4  Austria     2017-05  19.02      100.0    103.19    99.9

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1872 entries, 0 to 1871
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   geo          1872 non-null   object
 1   TIME_PERIOD  1872 non-null   object
 2   prod         1872 non-null   float64
 3   commodity    1872 non-null   float64
 4   consumer     1872 non-null   float64
 5   import       1872 non-null   float64
dtypes: float64(4), object(2)
memory usage: 87.9+ KB

In [58]:
# Pivot the DataFrame by 'TIME_PERIOD' and rename the columns as requested
pivot_df = df.pivot(index='TIME_PERIOD', columns='geo', values=['prod', 'commodity', 'consumer', 'import'])

# Flatten the MultiIndex columns and rename them
pivot_df.columns = [f'{geo}_{metric}' for metric, geo in pivot_df.columns]

# Sort the columns alphabetically
pivot_df = pivot_df.reindex(sorted(pivot_df.columns), axis=1)

In [59]:

pivot_df

,Austria_commodity,Austria_consumer,Austria_import,Austria_prod,Belgium_commodity,Belgium_consumer,Belgium_import,Belgium_prod,Bulgaria_commodity,Bulgaria_consumer,...,Slovenia_import,Slovenia_prod,Spain_commodity,Spain_consumer,Spain_import,Spain_prod,Sweden_commodity,Sweden_consumer,Sweden_import,Sweden_prod
TIME_PERIOD,,,,,,,,,,,,,,,,,,,,,
2017-01,101.6,101.52,99.7,18.25,93.6,100.40,97.9,23.27,84.2,98.01,...,106.2,2.69,105.3,100.65,107.7,50.71,113.6,103.73,96.8,10.34
2017-02,101.7,99.75,99.3,17.23,93.8,101.14,96.3,21.21,85.3,98.19,...,95.7,2.69,105.4,100.44,106.3,48.30,114.5,103.69,95.8,10.01
2017-03,101.2,101.88,100.0,20.07,93.8,100.58,99.0,25.41,86.8,98.08,...,107.7,3.17,105.3,100.96,110.7,54.16,114.5,105.22,94.3,11.60
2017-04,100.2,100.32,94.2,17.40,93.8,101.22,97.2,21.79,88.7,97.81,...,105.4,2.87,105.1,100.50,111.7,46.55,113.7,106.41,97.4,9.32
2017-05,100.0,103.19,99.9,19.02,93.9,101.14,95.4,25.07,88.8,98.89,...,106.3,2.93,105.1,100.61,112.1,59.12,112.8,106.26,101.4,11.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08,130.4,116.59,129.0,17.66,119.7,113.88,125.9,20.09,140.7,136.54,...,158.0,2.73,136.4,121.95,169.8,65.68,140.6,143.99,159.8,12.18
2022-09,130.8,116.28,128.7,17.14,120.2,114.40,132.4,20.76,139.8,140.79,...,155.4,3.24,137.9,121.82,163.1,64.41,141.3,142.64,152.1,12.54
2022-10,132.1,115.18,133.1,17.92,121.7,113.85,130.9,19.98,142.4,143.63,...,157.9,3.40,140.4,123.40,158.0,59.37,141.5,141.52,159.2,12.40
2022-11,132.9,116.18,129.3,20.44,122.9,115.14,128.9,20.13,143.5,147.68,...,166.3,4.00,142.6,124.44,156.1,58.45,142.0,141.85,148.9,13.31
2022-12,133.4,118.84,132.1,18.37,123.8,116.22,139.9,21.12,143.1,152.30,...,164.4,3.43,144.3,126.78,151.1,55.13,142.9,140.24,154.3,11.11

In [60]:
#pivot_df.to_csv('pivotdf.csv')

ESTATISTICS

In [61]:
import dash
from dash import dcc, html, Input, Output, State
import dash_table
import pandas as pd
import plotly.graph_objects as go
from scipy.stats import ttest_ind, f_oneway, chi2_contingency, ranksums, mannwhitneyu, pearsonr
from sklearn.linear_model import LinearRegression, LogisticRegression
import statsmodels.api as sm
import numpy as np
from statsmodels.miscmodels.ordinal_model import OrderedModel

# Load the pivot_df from your source, e.g., a CSV file
# pivot_df = pd.read_csv('pivotdf.csv')
# For this example, assume pivot_df is already loaded into memory

# Melt the DataFrame for Plotly
melted_df = pivot_df.reset_index().melt(id_vars='TIME_PERIOD', var_name='Country_Metric', value_name='Value')
melted_df[['Country', 'Metric']] = melted_df['Country_Metric'].str.split('_', expand=True)

# Create a Dash app
app = dash.Dash(__name__)

# Create the layout for the Dash app
app.layout = html.Div([
    html.H1("Interactive Metrics Dashboard"),
    dcc.Dropdown(
        id='country-dropdown',
        options=[
            {'label': 'All', 'value': 'All'},
            {'label': 'None', 'value': 'None'}
        ] + [{'label': country, 'value': country} for country in melted_df['Country'].unique()],
        value=['All'],
        multi=True,
        placeholder="Select countries"
    ),
    dcc.Dropdown(
        id='metric-dropdown',
        options=[
            {'label': 'All', 'value': 'All'},
            {'label': 'None', 'value': 'None'}
        ] + [{'label': metric, 'value': metric} for metric in ['prod', 'commodity', 'consumer', 'import']],
        value=['All'],
        multi=True,
        placeholder="Select metrics"
    ),
    dcc.Graph(id='timeseries-graph'),
    html.H2("Summary Metrics"),
    html.Div(id='summary-table', style={'overflowX': 'scroll'}),
    html.H2("Inferential Statistics"),
    dcc.Dropdown(
        id='t-test-country1',
        options=[{'label': country, 'value': country} for country in melted_df['Country'].unique()],
        placeholder="Select first country"
    ),
    dcc.Dropdown(
        id='t-test-country2',
        options=[{'label': country, 'value': country} for country in melted_df['Country'].unique()],
        placeholder="Select second country"
    ),
    html.Button('Perform Tests', id='perform-tests-button', n_clicks=0),
    html.Div(id='test-results', style={'display': 'flex', 'justify-content': 'space-between', 'flex-wrap': 'wrap'}),
])

# Callback to update the graph and summary table
@app.callback(
    [Output('timeseries-graph', 'figure'),
     Output('summary-table', 'children')],
    [Input('country-dropdown', 'value'),
     Input('metric-dropdown', 'value')]
)
def update_figure(selected_countries, selected_metrics):
    if 'All' in selected_countries:
        selected_countries = melted_df['Country'].unique()
    elif 'None' in selected_countries:
        selected_countries = []

    if 'All' in selected_metrics:
        selected_metrics = ['prod', 'commodity', 'consumer', 'import']
    elif 'None' in selected_metrics:
        selected_metrics = []

    # Filter data based on selections
    filtered_df = melted_df[melted_df['Country'].isin(selected_countries) & melted_df['Metric'].isin(selected_metrics)]

    # Create the time series figure
    fig = go.Figure()
    for country in selected_countries:
        for metric in selected_metrics:
            country_metric_df = filtered_df[(filtered_df['Country'] == country) & (filtered_df['Metric'] == metric)]
            fig.add_trace(go.Scatter(x=country_metric_df['TIME_PERIOD'], y=country_metric_df['Value'], mode='lines', name=f"{country} {metric}"))

    fig.update_layout(
        title_text="Interactive Metrics Over Time",
        xaxis_title="Time Period",
        yaxis_title="Values",
        legend_title="Country and Metric",
        template="plotly_white"
    )

    # Create the summary table for selected countries
    selected_cols = [col for col in pivot_df.columns if col.split('_')[0] in selected_countries]
    
    if selected_cols:
        selected_df = pivot_df[selected_cols]
        summary = selected_df.describe().reset_index()
        summary_table = dash_table.DataTable(
            columns=[{"name": i, "id": i} for i in summary.columns],
            data=summary.to_dict('records'),
            style_table={'overflowX': 'auto'},
            style_cell={'textAlign': 'left'}
        )
    else:
        summary_table = html.Div("No data available for the selected countries.")

    return fig, summary_table

# Callback to perform the t-test, ANOVA, Chi-Square, and regression analyses
@app.callback(
    Output('test-results', 'children'),
    [Input('perform-tests-button', 'n_clicks')],
    [State('t-test-country1', 'value'),
     State('t-test-country2', 'value'),
     State('metric-dropdown', 'value')]
)
def perform_tests(n_clicks, country1, country2, selected_metrics):
    if n_clicks > 0 and country1 and country2:
        results = {'prod': [], 'commodity': [], 'consumer': [], 'import': []}
        if 'All' in selected_metrics or not selected_metrics:
            selected_metrics = ['prod', 'commodity', 'consumer', 'import']
        for metric in selected_metrics:
            col1 = f"{country1}_{metric}"
            col2 = f"{country2}_{metric}"
            if col1 in pivot_df.columns and col2 in pivot_df.columns:
                data1 = pivot_df[col1].dropna()
                data2 = pivot_df[col2].dropna()
                if not data1.empty and not data2.empty:
                    # t-test
                    t_stat, p_value_t = ttest_ind(data1, data2)
                    # ANOVA
                    anova_stat, p_value_anova = f_oneway(data1, data2)
                    # Chi-Square (binning the continuous data for chi-square test)
                    data1_binned = pd.cut(data1, bins=10, labels=False)
                    data2_binned = pd.cut(data2, bins=10, labels=False)
                    contingency_table = pd.crosstab(data1_binned, data2_binned)
                    chi2_stat, p_value_chi2, dof, ex = chi2_contingency(contingency_table)
                    # Wilcoxon Signed Rank Test
                    wilcoxon_stat, p_value_wilcoxon = ranksums(data1, data2)
                    # Mann-Whitney U Test
                    mannwhitney_stat, p_value_mannwhitney = mannwhitneyu(data1, data2)
                    # Pearson Correlation
                    corr_coef, p_value_corr = pearsonr(data1, data2)

                    results[metric].append(html.Div([
                        html.H4(f"{metric.capitalize()}"),
                        html.Div([
                            html.H5("t-test"),
                            html.P(f"t-statistic: {t_stat:.2f}, p-value: {p_value_t:.4f}")
                        ]),
                        html.Div([
                            html.H5("ANOVA"),
                            html.P(f"F-statistic: {anova_stat:.2f}, p-value: {p_value_anova:.4f}")
                        ]),
                        html.Div([
                            html.H5("Chi-Square"),
                            html.P(f"chi2-statistic: {chi2_stat:.2f}, p-value: {p_value_chi2:.4f}")
                        ]),
                        html.Div([
                            html.H5("Wilcoxon Signed Rank Test"),
                            html.P(f"statistic: {wilcoxon_stat:.2f}, p-value: {p_value_wilcoxon:.4f}")
                        ]),
                        html.Div([
                            html.H5("Mann-Whitney U Test"),
                            html.P(f"U-statistic: {mannwhitney_stat:.2f}, p-value: {p_value_mannwhitney:.4f}")
                        ]),
                        html.Div([
                            html.H5("Pearson Correlation"),
                            html.P(f"coefficient: {corr_coef:.2f}, p-value: {p_value_corr:.4f}")
                        ])
                    ], style={'border': '1px solid #ccc', 'padding': '10px', 'margin': '10px 0'}))

                    # Perform Regression Analysis
                    if len(data1) == len(data2):
                        X = np.array(data1).reshape(-1, 1)
                        y = np.array(data2)
                        
                        # Linear Regression
                        lin_model = LinearRegression().fit(X, y)
                        lin_reg_score = lin_model.score(X, y)
                        
                        # Logistic Regression (with binarized target for demonstration)
                        y_bin = (y > y.mean()).astype(int)
                        log_model = LogisticRegression().fit(X, y_bin)
                        log_reg_score = log_model.score(X, y_bin)

                        # Nominal Regression (Multinomial Logistic Regression)
                        nominal_model = sm.MNLogit(y_bin, sm.add_constant(X)).fit(disp=0)
                        nominal_reg_score = nominal_model.prsquared

                        # Ordinal Regression (Ordered Logistic Regression)
                        y_ordinal = pd.cut(y, bins=3, labels=False)
                        ordinal_model = OrderedModel(y_ordinal, X, distr='logit').fit(method='bfgs', disp=0)
                        ordinal_reg_score = ordinal_model.prsquared

                        results[metric].append(html.Div([
                            html.Div([
                                html.H5("Linear Regression"),
                                html.P(f"R^2: {lin_reg_score:.4f}")
                            ]),
                            html.Div([
                                html.H5("Logistic Regression"),
                                html.P(f"Accuracy: {log_reg_score:.4f}")
                            ]),
                            html.Div([
                                html.H5("Nominal Regression"),
                                html.P(f"Pseudo R^2: {nominal_reg_score:.4f}")
                            ]),
                            html.Div([
                                html.H5("Ordinal Regression"),
                                html.P(f"Pseudo R^2: {ordinal_reg_score:.4f}")
                            ])
                        ], style={'border': '1px solid #ccc', 'padding': '10px', 'margin': '10px 0'}))

        return html.Div([
            html.Div(results['prod'], style={'flex': '1'}),
            html.Div(results['commodity'], style={'flex': '1'}),
            html.Div(results['import'], style={'flex': '1'}),
            html.Div(results['consumer'], style={'flex': '1'})
        ], style={'display': 'flex', 'width': '100%'})
    return html.Div("Select two countries and metrics to perform the tests.")

# Run the app
if __name__ == '__main__':
    app.run_server(debug=True)