# Population and sampling

A sample is a subset of data from a larger data set; statisticians call this larger data set the population. A population in statistics is a large, defined (but sometimes theoretical or imaginary) set of data.

If sampling is done with replacement.
        Total number of samples = N ^n
If sampling is done without-replacement
        Total number of samples = C(N,n)

In [ ]:
#sample size n = 2
# Number of all possible samples = N x N = 5 x 5 = 25

step1: Import all libraries

In [2]:
import numpy as np
import pandas as pd
from itertools import product, combinations
import matplotlib.pyplot as plt

Step2: Create list as a population

In [10]:
#population size N = 5
p = [1,2,3,4,5]

Step3: draw all samples of with replacement

In [15]:
sample_with_rep=list(product(p, p))
print(sample_with_rep)

[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5)]

Step4: Return the size of the sample list

In [16]:
len(sample_with_rep)

25

Step5: calculate the mean of all samples

In [19]:
sample_mean=np.mean(list(product(p, p)), axis=1)
print(f' sample of all mean: {sample_mean}')

 sample of all mean: [1.  1.5 2.  2.5 3.  1.5 2.  2.5 3.  3.5 2.  2.5 3.  3.5 4.  2.5 3.  3.5
 4.  4.5 3.  3.5 4.  4.5 5. ]

Step6: draw all samples of without replacement

In [51]:
m=[1,2,3]

In [52]:
sample_without_rep=list(combinations(m, 2))
print(sample_without_rep)

[(1, 2), (1, 3), (2, 3)]

Step7: Return the size of the sample list

In [22]:
len(sample_without_rep)

10

Step8: calculate the mean of all samples

In [27]:
sample_without_rep_mean=np.mean(sample_without_rep,axis=1)
print(f' sample of all mean: {sample_without_rep_mean}')

 sample of all mean: [1.5 2.  2.5 3.  2.5 3.  3.5 3.5 4.  4.5]

# Random sampling

step9: Import sample method from random

In [28]:
from random import sample

Step10: Prints list of random items of length 2 from the given list.

In [32]:
print("With list length of 2:", sample(p, 2))

With list length of 2: [4, 3]

# Stratified Sampling

Using stratified sampling, we separate a population into homogeneous subpopulations called strata according to certain criteria (e.g., age, race, gender identity, location, event type etc.

step 11: Create dictionary of students

In [33]:
students = {
    'Name': ['John', 'david', 'philip', 'anthony', 'Alex'],
    'ID': ['001', '002', '003', '004', '005'],
    'Grade': ['A', 'C', 'B', 'B', 'A'], 
    'Category': [2, 3, 1, 3, 2]
}

Step 12: create dataframe from student dictionary

In [37]:
df = pd.DataFrame(students)
print('40% grade A, 40% grade B, and 10% grade C')
df

40% grade A, 40% grade B, and 10% grade C

      Name   ID Grade  Category
0     John  001     A         2
1    david  002     C         3
2   philip  003     B         1
3  anthony  004     B         3
4     Alex  005     A         2

Step 13: Create a sample of 3 students equal number of student from each grade.andomly sample 1 students from each grade group using the sample function

In [38]:
df1=df.groupby('Grade', group_keys=False).apply(lambda x: x.sample(1))
df1

     Name   ID Grade  Category
4    Alex  005     A         2
2  philip  003     B         1
1   david  002     C         3

# Cluster Sampling

Cluster sampling involves segmenting the entire population into groups or clusters, and then randomly sampling one or more of those groups.

step 14: creating dictionary of data

In [42]:
data = {'N_numbers':np.arange(1,9)}
data

{'N_numbers': array([1, 2, 3, 4, 5, 6, 7, 8])}

Step 15: creating dataframe

In [43]:
df = pd.DataFrame(data)
df

   N_numbers
0          1
1          2
2          3
3          4
4          5
5          6
6          7
7          8

Step 16: sample of data and create random cluster which contains 2 samples

In [50]:
samples = df.sample(3)
print(samples)

   N_numbers
2          3
5          6
6          7